<div id="login" class="col-sm-12">

  <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1490382079/at-stake/layout/logo.png" height='auto' width='200px'>

  <div class="submission col-sm-6">
      <div class="form">
          <div class="form-prompt white">enter username:</div>
          <input type="text" id="player-name" placeholder="name"> <br/>
          
          <div class="error">Error!</div>
          <input id="btn_submit_username" class="button_text" type="submit" name="submit" value="Login">       
      </div>
  </div>

</div>

<div class="row" id="waiting" style="display:none">
	<h1 id="game-code">{{game.accessCode}}</h1>
	<h2>You are the Decider</h2>
	<h3>Waiting for players</h3>


	<div class="col-sm-3"></div>
	<div class="row col-sm-9" id="players">

	</div>
	<div class="col-sm-3"></div>

	<div class="form row {{!-- hidden-el --}}" id="start">
    <input id="btn-start-game" data-event="game:start" class="post-button submit hidden-el" type="submit" name="submit" value="start">
	</div>
</div>