<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AtStake copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AtStake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B200489E1E4D35C100E05187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2B8744A1E4B9B1200572938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2B8745E1E4B9B1300572938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2B874691E4B9B1300572938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
