@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@include font-face(Aileron, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1487785800/at-stake/fonts/Aileron-Regular', null, null, otf);

$body-type: 'Source Code Pro', monospace;
$semibold-type: 'SourceCodePro-SemiBold', monospace;
$header-type: 'Roboto-Bold', sans-serif;
$sub-header-type: "AvenirNext-DemiBold", sans-serif;
$at-sign-type: "AvenirNext-UltraLight", sans-serif;

$avenir-reg: "AvenirNext", sans-serif;
$avenir-heavy: "AvenirNext-Heavy", sans-serif;

$aileron: "Aileron", sans-serif;

.light {
	font-family: "AvenirNext-UltraLight";
}
.bold {
	font-family: "AvenirNext-Bold";
}
.demi-bold {
	font-family: "AvenirNext-DemiBold";
}
.medium {
	font-family: "AvenirNext-Medium";
}
