.form { 
	min-height:100%;

	// Animation keyframes
	@include keyframes(invalid-field) {
	
	  0%   {left:8px;}
		10%  {left:-8px;}
		30%  {left:8px;}
		60%  {left:-8px;}
		100% {left:0px;}
	
	}
	.button_text {
		min-width: 100px;
		min-height: 60px;
		font-size: 3em;
	}
	.invalid
	{
		@include animation('invalid-field .5s 1');
		box-shadow:0 0 5px 1px red;
	}

	// Center all divs
	div {

    margin-left: auto;
    margin-right: auto;
	}

	input {

		padding: 20px;
    font-size: 2.2em;
    margin-bottom: 20px;
    position: relative;
    max-width: 100%;
    color: black;
		
	  &:focus {
	    outline: none !important;
	    border:6px solid #00c5c2;

	    box-shadow: 0 0 10px #719ECE;
		}
	}

	&.login, &.create {
		input {
			width: 100%;
		}
	}

	input[type=submit].default, button.default {

		color: #00c5c2;
	  font-size: x-large;
		font-weight: bold;
		border: 0;

	}

	input[type=text] {
		border-radius: 20px;
	}

	&.row {
			button {
			min-height: 200px;
			min-width: 200px;
		}
	}

	input.prompt {
		width: 100%;
		display: inline;
	}

	input.game_login {
		background-color: grey;
		width: 160px;
	  height: 48px;
	  box-shadow: 0 2px 0 0 rgba(235, 235, 235, 0.75);
	  border: solid 1px #ebebeb;
	  border-radius:2px;
	  position: fixed;
	  bottom:0;
	  right:0;
	  margin: 30px;
	  padding: 0px;
	  font-size: 24px;
	}

	.input-container {
	
	  position: relative;
	
	}
	.input-container input {
	
	  width: 100%;
	  padding-left: 30px;
	  margin-bottom: -20px;
	
	}

	button.mobile-login {
		background: white;
		margin-top: 10%;
		cursor: pointer;
	}

	// Form error box
	.error {
		display: none;
		color: white;
		background-color: red;
		font-size: medium;
		// width: 40%;
		min-height: 50px;
		padding: 10px;
		border: 0;
	}

}

.input [type=checkbox] {
		margin: 1px;
		
	}

.input-box {
	min-height: 400px;
	background-color: white;
	border: solid black 1px;	
}

.moderatorInput {
	margin: 10px auto;
	display: block; 
	border: 1px solid #d7d6d6; 
	background: #fff; 
	padding: 10px 10px 10px 20px; 
}