

p {
	font-family: $body-type;
}

h3 {
	font-family: $header-type;
}

h5 {
	font-family: $header-type;
}

.container{
	padding: 0;
}

#homeContent {
	padding: 0;
}
// HOME PAGE
.siteLanding#homepage{
	background-color: $light-mint;
	width: 100%;

	.row{
		width: 100%;
		padding: 25px;
		margin: 0;

		&.top{
			background-color: $light-mint;
			min-height: 300px;
		}
		&.pitch{
			background-color: $white;
		}
		&.feature{
			background-color: $dark-blue;
			padding: 25px 40px;
			border-bottom: solid 20px $light-blue;
		}
		&.flow-play{
			background-color: $white;
		}
		&.learn-more{
			background-color: $dark-mint;
		}
		&.credits{
			background-color: $light-mint;
		}
	}
	.top-section{

		.header{
			color: white;
		}

		.whats{
			
		}

		.at-sign{
			
		}

		.header-stake{
			
		}

		.play-button{

		}
	}
	.game-pitch{
		float: right;
		.tagline{

		}
		.half-1{
			.cta-para-one{

			}
			.cta-para-two{

			}
			.examples{

				li{

				}
			}
		}
		.half-2{
			.cta-points{
				p{
					font-family: $sub-header-type;
				}
				.point-one{

				}
				.point-two{

				}
				.point-three{

				}
			}
			.cta-image{

			}
		}
	}
	.game-features{
		color: $type-blue;
		text-align: center;
		.feature-text{
			padding: 0 30px;
		}
		.feature-image{

		}
		.feature-one{

			.feature-header-one{
				p{
				font-family: $header-type;
				}
			}
			.feature-one-image{

			}
			.feature-one-text{

			}
		}
		.feature-two{

			.feature-header-two{
				p{
				font-family: $header-type;
				}
			}

			.feature-two-image{

			}
			.feature-two-text{

			}
		}
		.feature-three{

			.feature-header-three{
				p{
				font-family: $header-type;
				}
			}
			.feature-three-image{

			}
			.feature-three-text{

			}
		}
	}
	.game-flow{
		text-align: center;
		.flow-play-header{
			padding-bottom: 1px;
			p{
				font-family: $header-type;
				color: $background-mint;
			}
		}
		.flow-play-para{

		}
		.flow-play-pic{

		}
	}
	.game-learn{
		text-align: center;
		padding: 0 50px;
		color:white;
		.learn-more-header{
			padding-bottom: 1px;
			
			p{
				font-family: $header-type;
			}
		}
		.learn-more-para{

		}
	}
	.design-dev-team{
		display: inline;
		text-align: center;
		h3 {
			color: white;
		}
		.team-header{
			color: $white;
			font-family: $header-type;
		}

		.team{
			color: $white;
			padding: 0px;


			&.pi {
				text-align: center;

			}
		}

		.team-1-half {
			text-align: left;
		}

		.team-2-half {
			text-align: right;
		}
		.team-title{
			color: $type-dark-mint;
			display: inline;
		}
		.el-logo{

		}
	}
}