


p {
	font-family: $body-type;
	color: $type-black;
	text-justify: distribute;
}

h3 {
	font-family: $header-type;
}

h5 {
	font-family: $header-type;
}

.container{
	padding: 0;
}

#homeContent {
	padding: 0;
}
// HOME PAGE
.siteLanding#homepage{
	background-color: $light-mint;
	width: 100%;

	.row{
		width: 100%;
		padding: 30px 40px;
		margin: 0;

		@media (min-width: 1350px){
			padding: 35px 95px;
		}
		@media (min-width: 1650px){
			padding: 30px 220px;
		}
		@media (min-width: 1950px){
			padding: 30px 270px;
		}

		&.top{
			background-color: $light-mint;
			min-height: 350px;
			padding: 0;
			position: relative;
		}
		&.pitch{
			background-color: $white;
		}
		&.feature{
			background-color: $dark-blue;
			padding: 30px 70px;
			border-bottom: solid 20px $light-blue;
		}
		&.flow-play{
			background-color: $white;
		}
		&.learn-more{
			background-color: $dark-mint;
		}
		&.credits{
			background-color: $light-mint;
			padding: 2% 8%;
		}
	}
	.landing-image{
			height: 200px;
			float: right;
			position: absolute;
			right: 0;
			bottom: 0;
			margin-top: 75px;
			opacity: 0.24;
		}
	.top-section{
		position: relative;
		.landing-header{
			color: white;
			position: relative;
			text-align: center;
			margin: 0 auto;
			margin-top: 50px;
			overflow: auto;

			@media(max-width: 383px){
				font-size: .8em;
			}
		}

		.whats{
			font-family: $sub-header-type;
			font-size: 6em;
			z-index: 1;
			margin-right: 250px;
			display: inline-block;
			position: relative;
		}

		.at-sign{
			font-family: $at-sign-type;
			font-size: 7em;
			z-index: 2;
			display: inline-block;
			margin-top: -45px;
			position: absolute;
		}

		.header-stake{
			font-family: $sub-header-type;
			font-size: 7em;
			z-index: 3;
			display: inline-block;
			margin-left: 65px;
			margin-top: -45px;
		}

		.play-button{
			width: 25%;
			height: 75px;
			position: relative;
			margin: 0 auto;
			margin-bottom: 45px;
			padding-top: 18px;
			text-align: center;
			color: $white;
			font-family: $sub-header-type;
			font-size: 1.25em;
			border: solid white 4px;
		
			@media(max-width: 516px){
				height: 95px;
			}
			@media(max-width: 290px){
				height: 110px;
			}
		}


	}
	.phone-pic{
		padding: 0 auto;
	}
	.showcaseImage{
		margin: 0 auto;
		display: table;

		@media(max-width: 425px){
			height: 175px;
		}
	}

	.game-pitch{
		float: right;
		.tagline{

		}
		.half-1{
			padding-top: 30px;
			.cta-para-one{
				text-align: justify;
			}
			.cta-para-two{
				text-align: justify;
			}	
		}
		.cta-points{
			font-size: 68px !important;
			color: $light-mint;
			line-height: 80%;
			list-style-position: inside;
			position: relative;
			z-index: 1;

			li{
				height: 50px;
			}

			p{
				z-index: 2;
				position: relative;
				bottom: 56px;
				left: 45px;
				text-align-last: auto;
			}

			.point-content{
				font-size: 14px;
				color: $type-black;
			}
		}		
	}
	.game-features{
		color: $type-blue;
		text-align: center;
		.feature-text{
			padding: 15px 30px;
			text-align: justify;
		}
		.feature-image{

		}
		.feature-one{

			.feature-header-one{
				p{
				font-family: $header-type;
				color: $type-blue;
				}
			}
			.feature-one-image{

			}
			.feature-one-text{
				p{
					color: $type-blue;
					text-align-last: left;
				}
			}
		}
		.feature-two{

			.feature-header-two{
				p{
				font-family: $header-type;
				color: $type-blue;
				}
			}

			.feature-two-image{

			}
			.feature-two-text{
				p{
					color: $type-blue;
					text-align-last: left;
				}
			}
		}
		.feature-three{

			.feature-header-three{
				p{
				font-family: $header-type;
				color: $type-blue;
				}
			}
			.feature-three-image{

			}
			.feature-three-text{
				p{
					color: $type-blue;
					text-align-last: left;
				}
			}
		}
	}
	.game-flow{
		text-align: center;
		padding: 0 10%;
		.flow-play-header{
			padding-bottom: 1px;
			p{
				font-family: $header-type;
				color: $background-mint;
				text-align-last: center;
			}
		}
		.flow-play-para{
			text-align: justify;
			p{
				text-align-last: center;
			}
		}
		.flow-play-pic{

		}
	}
	.game-learn{
		text-align: center;
		padding: 0 10%;
		.learn-more-header{
			padding-bottom: 1px;
			color:white !important;
			p{
				font-family: $header-type;
				color:white !important;
			}
		}
		.learn-more-para{
			text-align: justify;
			p{
				color: white !important;
				text-align-last: center;
			}
		}
	}
	.design-dev-team{
		display: inline;
		text-align: center;
		padding: 0 100px;
		width: 100%;
		h3 {
			color: white;
		}
		.team-header{
			color: $white;
			font-family: $header-type;
		}

		.left{
			float: left;
		}

		.right{
			float: right;
		}

		.team{
			color: $white;
			padding: 0px;
			display: block;


			&.pi {
				text-align: center;

			}
		}

		.team-col{

		}
		.team-title{
			color: $type-dark-mint;
			display: inline;
		}
	}
	.logo{

	}
	.el-logo{
		width: 150px;
		margin: 0 auto;
		display: block;
	}
}