// ** GAME LOBBY ** //
#lobby {

	height: 100%;

	// Waiting for players
	&.wait {
		#login-header {
			display: none;
		}
	}

	.game_login {
		display: block;
		position: absolute;
		right: 0;
		font-size: 24px;
		font-family: AvenirNext-Bold;
		color: black;
		width: 96px;
		padding: 0px;
		min-width: 0px;
		min-height: 0px;
		border-radius: 0px;
		background-color: transparent;
		border: 0px;
		font-weight: 800;
		font-size: 20px;
	}

	// Lobby game screens
	.lobby {

		// Mobile badges
		.mobile {
			display: none;
		}

		height: 100%;

		&:not(#decider) {
			width: 100%;
			height: 70%;
			bottom: 0px;

			&.player-grid {
				width: 100% !important;
				left: 0px !important;
				animation-name: player-login;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
			}
		}

		&#decider {
			padding-top: 8px;

			.waiting {
				width: 100%;
				margin: 0px auto;
			}
		}

		#start {
			width: 100%
		}

		#tutorial {
			padding-top: 65%;

			.btn_cap {
				width: 200px;
				margin: 0 auto;
			}
		}

		// Show back button on login screen
		.back-button {
			display: none;
			position: absolute;
			left: 0;
			bottom: 10px;
			margin-bottom: 10px;
			color: $turquoise-light;
			width: 96px;
			min-width: 0px;
			height: 24px;
			min-height: 0px;
			border-radius: 0px;
			background-color: transparent;
			border: 0px;
			font-size: 16px;

			&:before {
				content: "";
				position: absolute;
				z-index: 10;
				bottom: 5px;
				left: 18px;
				font-size: 16px;
				width: 0;
				height: 0;
				border-right: 10px solid $turquoise-light;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
			}
		}

		.username {
			margin-bottom: 20px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: -1.9px;
			text-align: center;

			h2 {
				font-size: 32px;
				font-weight: 500;

				span {
					font-weight: 700;
				}
			}

			p {
				font-size: 20px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.8;
				letter-spacing: 0px;
				text-align: center;
			}
		}

		&#choices {

			margin-top: -16px;
			height: 80%;

			#btn_join_game {
				@include button($bluegreen, $yellow);
			}

		}

		.btn {
			width: 80%;
			white-space: normal;
			// color: white;
			border: 0px;
			border-radius: 0px;
			height: 48px;
			padding: 0px;
			margin: 0 auto;
			margin-bottom: 60px;

			h2 {
				font-size: 20px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: 0px;
				text-align: center;
			}
		}

		#btn-tutorial {
			margin-bottom: 10px;
			@include gradient-vertical($orange-light, $orange-dark, 90%, 10%);
		}

		#btn-tutorial-skip {
			margin-bottom: 40px;
			cursor: pointer;
			background: none;
			box-shadow: none;

			h2 {
				font-size: 16px;
				font-family: $avenir-reg;

				strong {
					font-family: $avenir-heavy;
				}
			}
		}
	}

	// Logo
	#login-header {

		padding-top: 0px;
		height: 30%;

		img {
			// height: 136px;
			width: 198px;
			padding: 10px;
		}

		p {
			color: $cerulean-blue;
			width: 226px;
			margin: 0px auto;
			font-size: 18px;
			font-family: $header-type;
		}

	}

	// Name entry
	#name.lobby {
		position: relative;

		.form {
			padding: 8px;
			// position: fixed;
			top: 10px;
			left: 0px;
			margin: 0 auto;
			z-index: 1000;
		}

		p {
			font-size: 12px;
		}

		#player-name {
			height: 73px;
			width: 100%;
			margin: 0 auto;
			font-size: 14px;
			border-radius: 0px;
			margin: 0px;
			margin-bottom: 5px;

			background: white;
			border: 2px solid $cerulean-blue;
			border-bottom-width: 4px;

			&::-webkit-input-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;
			}

			&::-moz-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}

			&:-ms-input-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}

			&:-moz-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}

		}

		.login-footer {
			position: absolute;
			bottom: 0px;
			// background-color: $turquoise-dark;
			margin-left: -30px;
			margin-right: -30px;
			padding: 40px;
			height: 40%;
		}

		#description p {
			font-size: 12px;
			line-height: 16px;
			width: 90%;
			color: black;
			margin: 0px auto;
			text-align: center;
		}
	}

	#btn_submit_name,
	#btn_new_game {
		@include button($cerulean-blue, $yellow);
	}

	.lobby {

		&#join {
			color: white;

			#btn_submit_code {
				@include button($bluegreen, $yellow);
			}
		}

		.game_login {
			width: 80%;
			white-space: normal;
			color: black;
			border: 0px;
			border-radius: 0px;
			height: 48px;
			padding: 0px;
			margin: 0 auto;
			margin-bottom: 10px;
			position: relative;
			font-size: 20px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: 0px;
			text-align: center;
		}

		p.instructions {
			font-family: AvenirNext;
			font-size: 12px;
			font-weight: 200;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: 0px;
			text-align: center;
			padding: 5px;

			span {
				font-weight: 700;
				font-family: AvenirNext-Bold;
				color: white;
			}
		}

		.login {
			padding-top: 10%;
		}

		#access_code {

			width: 200px;
			height: 60px;
			background-color: white;
			margin: 0 auto;
			font-size: 36px;
			border-radius: 0px;

			box-shadow: inset 0 -4px 0 0 $cerulean-blue;
			border: solid 1.5px $cerulean-blue;
			margin: 0px;

			text-align: center;

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				font-size: 36px;
				text-align: center;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				font-size: 36px;
				text-align: center;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				font-size: 36px;
				text-align: center;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				font-size: 36px;
				text-align: center;
			}
		}
	}

	// Deck selection
	.create {
		height: 100%;

		.back-button {
			bottom: 0px;
		}

		.game_login {
			bottom: 0px;
		}

		.form-prompt {
			font-size: 12px;
			margin-bottom: 8px;
		}

		.decks-prompt {
			font-size: 12px;
			color: lighten($background-color, 15%)
		}

		h3 {
			font-weight: 700;
			color: white;
			margin: 0px;
			font-family: AvenirNext-Bold;
		}

		#decks {
			width: 100%;
			visibility: hidden;
			@include box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.25));

			.deck {
					
					&.ui-state-active {
						.header img {
							opacity: 0;
						}
					}

				.header {
					padding: 8px;
					text-align: left;

					font-weight: 700;
					font-size: 20px;
					font-family: $header-type;

					img {
						float: right;
						opacity: 1;

						@include transition(opacity .5s);
					}
				}

				margin: 0;
				padding: 0px;
				color: white;

				.description {
					font-size: 13px;
					font-weight: 600;
					margin-top: 2%;
					margin-left: 5%;
					margin-right: 5%;
				}

				&:nth-child(1) {
					.header {
						background-color: $strawberry;
					}

					.description {
						color: $strawberry;
					}
				}

				&:nth-child(3) {
					.header {
						background-color: $bubble-gum-pink;
					}

					.description {
						color: $bubble-gum-pink;
					}
				}

				&:nth-child(5) {
					.header {
						background-color: $cerulean-blue;

					}

					.description {
						color: $cerulean-blue;
					}
				}
			}

			.info {
				h1 {
					margin: 2%;
				}

				button {
					color: $color-turquoise;
					margin: 5px 5px;
					margin-top: -7%;
					padding: 2px;
					border-radius: 4px;
					border: none;
				}

				.grid {
					margin-left: 2%;
					margin-right: 2%;
				}

				.player {
					padding: 5%;
				}
			}


		}
	}

	// Share code screen
	#share_code,
	#game_code {
		text-align: center;
		color: #fafafa;
		width: 100%;
		margin-top: -30px;

		h1:not(.access-code) {
			font-size: 24px;
			margin: 0px;
			margin-bottom: 20px;
			width: 100%;
			font-weight: bold;
		}

		p {
			font-size: 12px;
			color: #ebebeb;
			font-family: $avenir-reg;
		}
	}

	.waiting {
		width: 100%;
		padding: 0px;

		.access-code {
			max-width: 200px;
			height: auto;
			@include semibold-type;
			font-size: 36px !important;
			padding: 5px;
			box-shadow: inset 0 -4px 0 0 $cerulean-blue;
			border: solid 1.5px $cerulean-blue;
			background-color: black;
			margin: 10px auto;

			span {
				&:nth-child(1) {
					color: $yellow;
				}

				&:nth-child(2) {
					color: $strawberry;
				}

				&:nth-child(3) {
					color: $bluegreen;
				}

				&:nth-child(4) {
					color: $bubble-gum-pink;
				}
			}
		}

		p {
			font-size: 16px;
		}

		#btn-start-game {
			@include button($bluegreen, $yellow);
			width: 200px;
			height: 60px;
		}
	}

	.player-logo {
		height: 40px;
		width: 200px;
		margin: 8px;

		p {
			text-align: left;
			color: white;
			font-family: $header-type;
			font-size: 20px;
			height: 20px;
			line-height: 40px;
			float: left;
			margin: 0px;

		}
	}

	#players {
		height: auto;
	}

	.player-grid {
		max-height: 60%;
		min-height: 50%;
		width: 100%;
		left: 0px;
	}


	// If not on login screen, hide the back button
	&:not(.lobby) {
		button#lobby-back {
			display: none;
		}
	}

	// The lobby player grid
	&.player-grid {
		color: black;

		#logo-bar {
			// display: block !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: $nav-height;
			background-color: $color-pink;

			img {
				height: $nav-height - 5px;
				width: auto;
			}
		}
	}

	#intro {
		button {
			position: absolute;
			right: 9%;
			bottom: 11%;
			z-index: 100;
		}

		.content {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #f8f8f5;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			
			img {
				position: absolute;
				transform-origin: left;
			}
			.text {
				position: absolute;
				bottom: 0;
				border: solid 2px black;
				background-color: #f8f8f5;
				font-size: 13px;
				font-weight: 600;
				line-height: 1.38;
				letter-spacing: 0px;
				text-align: center;
				color: black;
			}
		}

	}

}