// ** GAME LOBBY ** //
#lobby {
	
	height:100%;
	// .form {
	// 	padding: 7px;
	// }
	// Waiting for players
	&.wait {
		#login-header {
			display: none;
		}
	}

	p {
		color: white;
	}

	.game_login {
		display: block;
		position: absolute;
			right: 0;
			bottom: 0;
			margin-bottom: 10px;
			color: $turquoise-light;
			width: 96px;
			padding: 0px;
			min-width: 0px;
		  min-height: 0px;
		  border-radius: 0px;
		  background-color: transparent;
		  border: 0px;
		  font-weight: 800;
		  font-size: 20px;
	}

	// Lobby game screens
	.lobby {
		height: 100%;
		&:not(#decider) {
			width: 100%;
		  height: 70%;
		  // position: fixe;
		  bottom: 0px;		  

		  &.player-grid {
		  	width:100% !important;
		  	left:0px !important;
		  	animation-name: player-login;
		  	animation-duration: 0.5s;
		  	animation-fill-mode: forwards;
		  }
		}
		
		&#decider {
			.waiting {
				width: 90%;
				margin: 5% auto;
			}
		}

		#start {
			width: 100%
		}

		// Show back button on login screen
		.back-button {
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			margin-bottom: 10px;
			color: $turquoise-light;
			width: 96px;
			min-width: 0px;
		  height: 24px;
		  min-height: 0px;
		  border-radius: 0px;
		  background-color: transparent;
		  border: 0px;
	    &:before {
		    content: "";
				position: absolute;
		    z-index: 10;
		    bottom: 5px;
		    left: 18px;
		    width: 0;
		    height: 0;
		    border-right: 10px solid $turquoise-light;
		    border-top: 7px solid transparent;
		    border-bottom: 7px solid transparent;
	    }
		}

		#btn-start-game {
			width: auto;
			white-space: normal;
			color: $turquoise-light;
			border: 0px;
			border-radius:0px;
			height:auto;
			padding:0px;
			margin: 0px;
			margin-right: 20px;
			margin-bottom: 10px;		
			background-color: transparent;
			font-weight: 800;
			position:absolute;
			right: 0px;
			bottom: 0px;
		}

		.username {
			margin-bottom: 40px;
			h2 {
				font-size: 24px;
			}
			p {
				font-size: 12px;
			}

		}

		&#choices {
			.btn {
				width: 80%;
				white-space: normal;
				color: white;
				border: 0px;
				border-radius:0px;
				height:48px;
				padding:0px;
				margin: 0 auto;
				margin-bottom: 10px;

				h2 {
					font-size: 20px;
					line-height: 48px;
					margin:0px;
					margin-bottom: 10px;
				}

				&#btn_new_game {
					background: -moz-linear-gradient(top, $orange-light 90%, $orange-dark 10%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, $orange-light 90%, $orange-dark 10%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, $orange-light 90%, $orange-dark 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					
				}

				&#btn_join_game {
					background: -moz-linear-gradient(top, $blue-light 90%, $blue-dark 10%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, $blue-light 90%, $blue-dark 10%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, $blue-light 90%, $blue-dark 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					
				}
			}
			.btn_cap {
				width: 90%;
				margin: 15% auto;
				margin-top: 0px;
				font-size: 10px;
			}
		}

	}

	// Logo
	#login-header {

		padding-top:0px;
		height:30%;

		img {
			// height: 136px;
			width: 200px;
			padding: 10px;
			margin-top: 16px;
		}

		p {
			color: white;
			width: 80%;
			margin-left: 10%;
			font-size: 12px;
		}

	}

	// Name entry
	#name.lobby {

		.form {
			padding: 8px;
	    // position: fixed;
	    top: 10px;
	    left: 0px;
	    margin: 0 auto;
	    z-index: 1000;
		}
		p {
			font-size: 12px;
		}
		#player-name {
			height: 60px;
			width: 95%;
			margin: 0 auto;
			font-size: 12px;
			// line-height: 48px;
		  border-radius: 0px;
		  background-color: $color-white;
		  // box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
		  border: 0px;
		  border-top: 3px solid lighten($color-grey, 30%);
		  margin: 0px;
		  margin-bottom: 5px;

			&::-webkit-input-placeholder{ 
			  font-size:14px;
			  height: 48px;
			  text-align: center;
			  // line-height: 48px !important;
			}
			&::-moz-placeholder{
				font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;

			}
			&:-ms-input-placeholder {
				font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;

			}
			&:-moz-placeholder {
				font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;

			}
			
		}

		.login-footer {
			position: absolute;
			bottom: 0px;
			// background-color: $turquoise-dark;
			margin-left: -30px;
			margin-right:-30px;
			padding:30px;
			height: 40%;
		}

		#description p {
			font-size: 12px;
			width:98%;
			color: $color-white;
			margin: 1% auto;
			text-align: center;
			margin-top:30px;
		}
		#btn_submit_name {
			background: -moz-linear-gradient(top, $pink-light 90%, $pink-dark 10%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, $pink-light 90%, $pink-dark 10%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, $pink-light 90%, $pink-dark 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			color: white;
			border: 0px;
			border-radius: 0px;
			height:48px;
			width: 160px;
			padding:0px;
			font-size: 24px;
			margin-bottom: 10%;
			margin-top: 5%;
		}
	}

	#join.lobby {

		.login {
			padding-top: 10%;
		}

		#access_code {
			height: 60px;
			width: 95%;
			margin: 0 auto;
			font-size: 12px;
		  border-radius: 0px;
		  background-color: $color-white;
		  border: 0px;
		  border-top: 3px solid lighten($color-grey, 30%);
		  margin: 0px;

		  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  font-size:14px;
			  height: 48px;
			  text-align: center;
			  line-height: 48px !important;
			}
		}

		#btn_submit_code {
			width: 80%;
			white-space: normal;
			color: white;
			border: 0px;
			border-radius:0px;
			height:48px;
			padding:0px;
			margin: 0 auto;
			margin-bottom: 10px;
			background: -moz-linear-gradient(top, $orange-light 90%, $orange-dark 10%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, $orange-light 90%, $orange-dark 10%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, $orange-light 90%, $orange-dark 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			position: relative;
		}


	}

	// Deck selection
	.create {
		height: 100%;

		.form {
			color: white;
		}

		.form-prompt {
			font-size: 12px;
		}

		#decks {
			width: 100%;
			visibility: hidden;
			margin-top: 5%;

			button {
				color: $color-turquoise;
				margin: 5px 5px;
				padding: 2px;
				height: 5px;
				width: 5px;
			}

			.glide__bullets {
				bottom: auto;
				height: auto;
				position: relative;
			}
			.glide__slide {
		  	.deck {
			    font-size: small;
			    color: black;
			    margin: 1%;
			    display: inline-block;
			    background-color: white;
			    // box-shadow: 0 2px 4px 0 rgba(85, 85, 85, 0.25);
			    border-radius: 0px;
			    height:100%;
			    width: 90%;

					.deck-header {
						background-color: $color-orange;
						padding: 10px 0px;
						color: white;
					}

					.flag {
						color:$orange-dark;
					  margin: 10% 5%;
					  font-size: 20px;
					}

					.question {
						height: auto;
						margin: 4px;
					  text-align: center;
					  color: black;
				  	line-height: 16px;

					}

					.stakeholders {
						width: 100%;
						padding:0px;
						display: inline-block;
					}

					.deck-role {
					  display: block;
					  font-size: 12px;
				    color: $orange-light;
				    padding: 5%;
				    margin: 0px;

					}

				}
			}
			.glide--horizontal {
				.glide__arrows {
			    top: 22%;
			  }
			}
		}
	}

	// Share code screen
	#share_code {
		text-align: center;
	  color: #ebebeb;
	  margin-top: -30px;

		h1:not(.access-code) {
	    font-size: 24px;
	    margin: 0px;
	    margin-bottom: 20px;
		  width: 100%;
		  font-family: $aileron;
		}
		p {
			font-size: 12px;
		  color: #ebebeb;
		  font-family: $avenir-reg;
		}
	}

	.waiting {
		width: 100%;
		padding: 0px;

		.access-code {
			max-width: 70%;
		  height: auto;
		  font-size: 56px !important;
		  padding: 5px;
		  color: #0098d0;
		  border: 4px solid $turquoise-light;
		  background-color: lighten($turquoise-dark, 3%);
		  margin: 10px auto;
		  font-family: $aileron;

		  span:nth-child(1) {
		  	color: $aquamarine;
		  }
		  // TODO: color var
		  span:nth-child(2) {
		  	color: #61f5de;
		  }
		  span:nth-child(3) {
			  color: $turquoise-dark;
		  }
		  span:nth-child(4) {
		  	color: $aquamarine;
		  }
		}
		p {
			font-size: 16px;
		}
	}


	// Players
	.player-logo {

		height: 60px;
		width: 70%;
		// left: 15%;
		// position: absolute;
		display: inline-block;
		padding: 0px;
	  background-repeat: no-repeat;
		background-size: contain;
		color: $grey-dark;

		p {
			display: inline;
			color: $grey-dark;
	    text-transform: uppercase;
	    line-height: 60px;
	    padding-left: 60px;
		}

		&#player-0 {
			background-image : $player-one-logo;
	    background-position: 40px 10px;
	    background-size: 40px 40px;
		}
		&#player-1 {
			background-image : $player-two-logo;
			background-position: 40px 10px;
	    background-size: 40px 40px;
		}
		&#player-2 {
			background-image : $player-three-logo;
			background-position: 40px 10px;
	    background-size: 40px 40px;
		}
		&#player-3 {
			background-image : $player-four-logo;
			background-position: 40px 10px;
	    background-size: 40px 40px;
		}
		&#player-4 {
			background-image : $player-five-logo;
			background-position: 40px 10px;
	    background-size: 40px 40px;
		}
	}
	#players {
		height: auto;
	}
	.player-grid {
		background-color: white;
		max-height: 60%;
    min-height: 50%;
    width: 100%;
    left: 0px;
		position: absolute;
		bottom: 10%;
	  border-top: solid 4px $turquoise-dark;
	}


	// If not on login screen, hide the back button
	&:not(.lobby) {
		button#lobby-back {
			display: none;	
		}
	}

	// The lobby player grid
	&.player-grid {
		color: black;

		#logo-bar {
			// display: block !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: $nav-height;
			background-color: $color-pink;

			img {
				height: $nav-height - 5px;
				width: auto;
			}

		}
		
	}

}