// ** GAME LOBBY ** //
#lobby {
	
	height:100%;
	// .form {
	// 	padding: 7px;
	// }
	// Waiting for players
	&.wait {
		#login-header {
			display: none;
		}
	}

	// Lobby game screens
	.lobby {
		&:not(#decider) {
			width: 90%;
		  height: 370px;
		  position: fixed;
		  bottom: 20px;
		  left: 5%;
		  border-radius: 5px;
		  background-color: #00dcba;
		  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
		  border: solid 1px #ebebeb;
		}
		&#decider {
			background-color: #00dcba;

			.waiting {
				width: 90%;
				margin: 5% auto;
			}
		}

		// Show back button on login screen
		.back-button {
			display: block;
			position: fixed;
			left: 0;
			bottom: 0;
			margin: 30px;
			color: white;
			width: 96px;
			min-width: 0px;
		  height: 24px;
		  min-height: 0px;
		  border-radius: 5px;
		  background-color: transparent;
		  box-shadow: 0 2px 0 0 rgba(235, 235, 235, 0.75);
		  border: solid 1px #ebebeb;
		}

		#btn-start-game {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 10px;
			color: white;
			// width: 96px;
		 //  height: 24px;
		  border-radius: 5px;
		  background-color: gray;
		  box-shadow: 0 2px 0 0 rgba(235, 235, 235, 0.75);
		  border: solid 1px #ebebeb;			
		}

		.username {
			// margin-bottom: 40px;
			h2 {
				font-size: 24px;
			}
			p {
				font-size: 12px;
			}

		}

		&#choices {
			.btn {
				width:272px;
				white-space: normal;
				color: white;
				border: 1px #ebebeb solid;
				box-shadow: 0 2px 0 0 rgba(235, 235, 235, 0.75);
				height:48px;
				padding:0px;
				margin-bottom: 10px;

				h2 {
					font-size: 24px;
					line-height: 48px;
					margin:0px;
				}

				&#btn_new_game {
					background-color:red;
				}

				&#btn_join_game {
					background-color:blue;
				}
			}
			.btn_cap {
				width: 90%;
				margin: 5% auto;
			}
		}

	}

	// Logo
	#login-header {

		padding-top:0px;
		margin-top: -30px;

		img {
			// height: 136px;
			width: 287px;
			padding: 10px;
			margin-top: 16px;
		}

		p {
			color: white;
			width: 80%;
			margin-left: 10%;
			font-size: 12px;
		}

	}

	// Name entry
	#name.lobby {
		.form {
			padding: 8px;
		}
		p {
			font-size: 12px;
		}
		#player-name {
			height: 48px;
			// line-height: 48px;
		  border-radius: 2px;
		  background-color: #d8d8d8;
		  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
		  border: solid 1px #949494;
		  margin: 0px;
		  margin-bottom: 5px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-size:14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
		}

		#description p {
			font-size: 10px;
			bottom: 0px;
			width:98%;
			color: #555555;
			margin: 1% auto;
			text-align: center;
			
		}
		#btn_submit_name {
			background-color:red;
			color: white;
			border: 0px;
			height:48px;
			width: 160px;
			padding:0px;
			font-size: 24px;
			margin-bottom: 100px;
			border: 0.5px solid white;
		}
	}

	#join.lobby {

		#access_code {
			height: 48px;
			width: 95%;
			margin: 2.5%;
		  border-radius: 2px;
		  background-color: #d8d8d8;
		  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
		  border: solid 1px #949494;
		  -webkit-text-stroke: 1px #ebebeb;

		  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-size:14px;
			  text-align: center;
			  height: 48px;
			  padding:0px;
			  line-height: 14px;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  font-size: 14px;
			  text-align: center;
			  height: 48px;
			  line-height: 1.13em;
			}
		}

		#btn_submit_code {
			background-color:red;
			color: white;
			border: 0px;
			height:48px;
			width: 160px;
			padding:0px;
			font-size: 24px;
			margin-bottom: 100px;
			border: 0.5px solid white;
			position:relative;
		}


	}

	// Deck selection
	.create {

		.form {
			color: white;
		}

		#decks {
			width: 100%;
			visibility: hidden;
			margin-top: 10%;

			button {
				color: $color-turquoise;
				margin: 5px 5px;
				padding: 5px;
			}

			.glide__bullets {
				bottom: auto;
				height: auto;
				position: relative;
			}
			.glide__slide {
		  	.deck {
			    font-size: small;
			    color: black;
			    margin: 1%;
			    display: inline-block;
			    background-color: #d8d8d8;
			    box-shadow: 0 2px 4px 0 rgba(85, 85, 85, 0.25);
			    border-radius: 5px;
			    height:100%;

					.deck-header {
						background-color: $color-seafoam;
						padding: 10px 0px;
					}

					.flag {
						background-color: #949494;
						box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
					  border: solid 1px #ebebeb;
					  margin: 4px;
					}

					.question {
						height: 40px;
						margin: 4px;
					  border-radius: 20px;
					  background-color: #00c2a9;
					  border: solid 1px #ebebeb;
					  text-align: left;
					  color: white;

					  :not(.num) {
					  	margin: 2px 12px 2px 44px;
					  	line-height: 16px;
					  }
					  
					  .num {
					  	width: 40px;
						  height: 40px;
						  border-radius: 19px;
						  background-color: #00dcba;
						  border: solid 1px #ebebeb;
						  float: left;
						  font-size: 24px; 
						  line-height: 24px;
						  padding: 8px;
						  text-align: center;
					  }
					}

					.stakeholders {
						width: 50%;
						padding:0px;
						display: inline-block;
					}

					.deck-role {
						height: 24px;
					  border-radius: 100px;
					  background-color: #00c2a9;
					  border: solid 1px #ffffff;
					  display: block;
					  font-size: 12px;
				    color: white;
				    padding: 4px;
				    margin: 4px;

					}

				}
			}
			.glide--horizontal {
				.glide__arrows {
			    top: 22%;
			  }
			}
		}
	}

	// If not on login screen, hide the back button
	&:not(.lobby) {
		button#lobby-back {
			display: none;	
		}
	}

	// The lobby player grid
	&.player-grid {
		color: black;

		#logo-bar {
			// display: block !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: $nav-height;
			background-color: $color-pink;

			img {
				height: $nav-height - 5px;
				width: auto;
			}

		}
		
	}

}