// ** GAME LOBBY ** //
#lobby {

	height: 100%;

	// Waiting for players
	&.wait {
		#login-header {
			display: none;
		}
	}

	p {
		color: white;
	}

	.game_login {
		display: block;
		position: absolute;
		right: 0;
		bottom: 10px;
		margin-bottom: 10px;
		font-size: 24px;
		font-family: AvenirNext-Bold;
		color: white;
		width: 96px;
		padding: 0px;
		min-width: 0px;
		min-height: 0px;
		border-radius: 0px;
		background-color: transparent;
		border: 0px;
		font-weight: 800;
		font-size: 20px;
	}

	// Lobby game screens
	.lobby {

		// Mobile badges
		.mobile {
			display: none;
		}

		height: 100%;

		&:not(#decider) {
			width: 100%;
			height: 70%;
			bottom: 0px;

			&.player-grid {
				width: 100% !important;
				left: 0px !important;
				animation-name: player-login;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
			}
		}

		&#decider {
			padding-top: 8px;

			.waiting {
				width: 100%;
				margin: 0px auto;
			}
		}

		#start {
			width: 100%
		}

		#tutorial {
			padding-top: 65%;

			.btn_cap {
				width: 200px;
				margin: 0 auto;
			}
		}

		// Show back button on login screen
		.back-button {
			display: none;
			position: absolute;
			left: 0;
			bottom: 10px;
			margin-bottom: 10px;
			color: $turquoise-light;
			width: 96px;
			min-width: 0px;
			height: 24px;
			min-height: 0px;
			border-radius: 0px;
			background-color: transparent;
			border: 0px;
			font-size: 16px;

			&:before {
				content: "";
				position: absolute;
				z-index: 10;
				bottom: 5px;
				left: 18px;
				font-size: 16px;
				width: 0;
				height: 0;
				border-right: 10px solid $turquoise-light;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
			}
		}

		#btn-start-game {
			width: auto;
			white-space: normal;
			color: white;
			border: 0px;
			border-radius: 0px;
			height: auto;
			padding: 0px;
			margin: 0px;
			margin-right: 20px;
			margin-bottom: 10px;
			background-color: transparent;
			font-weight: 800;
			position: absolute;
			right: 0px;
			bottom: 0px;
			font-size: 24px;
			font-family: AvenirNext-Bold;
		}

		.username {
			margin-bottom: 20px;
			font-family: AvenirNext;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: -1.9px;
			text-align: center;
			color: $color-white;

			h2 {
				font-size: 32px;
				font-weight: 500;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);

				span {
					font-family: AvenirNext-Medium;
					font-weight: 700;
				}
			}

			p {
				font-family: AvenirNext;
				font-size: 20px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.8;
				letter-spacing: 0px;
				text-align: center;
			}
		}

		&#choices {

			margin-top: -16px;
			height: 80%;

			#btn_join_game {
				@include gradient-vertical($blue-light, $blue-dark, 90%, 10%);

			}

		}

		.btn {
			width: 80%;
			white-space: normal;
			// color: white;
			border: 0px;
			border-radius: 0px;
			height: 48px;
			padding: 0px;
			margin: 0 auto;
			margin-bottom: 60px;

			h2 {
				font-size: 20px;
				line-height: 48px;
				margin: 0px;
				margin-bottom: 10px;
				font-family: AvenirNext-Bold;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: 0px;
				text-align: center;
			}
		}

		#btn-tutorial {
			margin-bottom: 10px;
			@include gradient-vertical($orange-light, $orange-dark, 90%, 10%);
		}

		#btn-tutorial-skip {
			margin-bottom: 40px;
			cursor: pointer;
			background: none;
			box-shadow: none;

			h2 {
				font-size: 16px;
				font-family: $avenir-reg;

				strong {
					font-family: $avenir-heavy;
				}
			}
		}
	}

	// Logo
	#login-header {

		padding-top: 0px;
		height: 30%;

		img {
			// height: 136px;
			width: 198px;
			padding: 10px;
		}

		p {
			color: $cerulean-blue;
			width: 226px;
			margin: 0px auto;
			font-size: 18px;
			font-family: $header-type;
		}

	}

	// Name entry
	#name.lobby {
		position: relative;

		.form {
			padding: 8px;
			// position: fixed;
			top: 10px;
			left: 0px;
			margin: 0 auto;
			z-index: 1000;
		}

		p {
			font-size: 12px;
		}

		#player-name {
			height: 73px;
			width: 100%;
			margin: 0 auto;
			font-size: 14px;
			border-radius: 0px;
			margin: 0px;
			margin-bottom: 5px;

			background: white;
			border: 2px solid $cerulean-blue;
			border-bottom-width: 4px;

			&::-webkit-input-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;
			}
			&::-moz-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}
			&:-ms-input-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}
			&:-moz-placeholder {
				font-size: 14px;
				height: 48px;
				text-align: center;

			}

		}

		.login-footer {
			position: absolute;
			bottom: 0px;
			// background-color: $turquoise-dark;
			margin-left: -30px;
			margin-right: -30px;
			padding: 40px;
			height: 40%;
		}

		#description p {
			font-size: 12px;
			line-height: 16px;
			width: 90%;
			color: black;
			margin: 0px auto;
			text-align: center;
		}
	}

	#btn_submit_name, #btn_new_game {
		@include button($cerulean-blue, $yellow);
	}

	.lobby {

		&#join {
		}

		.game_login {
			width: 80%;
			white-space: normal;
			color: white;
			border: 0px;
			border-radius: 0px;
			height: 48px;
			padding: 0px;
			margin: 0 auto;
			margin-bottom: 10px;
			position: relative;
			font-size: 20px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: 0px;
			text-align: center;
		}

		p.instructions {
			font-family: AvenirNext;
			font-size: 12px;
			font-weight: 200;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: 0px;
			text-align: center;
			padding: 5px;

			span {
				font-weight: 700;
				font-family: AvenirNext-Bold;
				color: white;
			}
		}

		.login {
			padding-top: 10%;
		}

		#access_code {
			height: 48px;
			width: 95%;
			margin: 0 auto;
			font-size: 12px;
			border-radius: 0px;
			background-color: $color-white;
			border: 0px;
			border-top: 3px solid lighten($color-grey, 30%);
			margin: 0px;

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				font-size: 14px;
				height: 48px;
				text-align: center;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				font-size: 14px;
				height: 48px;
				text-align: center;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				font-size: 14px;
				height: 48px;
				text-align: center;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				font-size: 14px;
				height: 48px;
				text-align: center;
			}
		}
	}

	// Deck selection
	.create {
		height: 100%;

		.back-button {
			bottom: 0px;
		}

		.game_login {
			bottom: 0px;
		}

		.form-prompt {
			font-size: 12px;
			margin-bottom: 8px;
		}

		.decks-prompt {
			font-size: 12px;
			color: lighten($background-color, 15%)
		}

		h3 {
			font-weight: 700;
			color: white;
			margin: 0px;
			font-family: AvenirNext-Bold;
		}

		#decks {
			width: 100%;
			height: 270px;
			visibility: hidden;

			button {
				color: $color-turquoise;
				margin: 5px 5px;
				padding: 2px;
				height: 8px;
				width: 8px;
				border-radius: 4px;
				border: none;
			}

			#scroll {
				overflow-y: scroll;
			
				.deck {
					font-size: small;
					color: black;
					margin: 1%;
					display: inline-block;
					width: 98%;
					cursor: pointer;
					box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
	
					.deck-header {
						padding: 8px;
						color: white;
						background-color: $strawberry;
						text-align: left;
						// box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
						font-weight: 700;
						font-size: 20px;
						font-family: $header-type;

						img {
							float: right;
						}
	
						h2 {
							margin: 0px;
						}
	
						.description {
							font-size: 12px;
						}
					}
				}
			}

			.deck-modal {
				background-color: white;
				color: black;
			}

		}
	}

	// Share code screen
	#share_code,
	#game_code {
		text-align: center;
		color: #fafafa;
		width: 100%;
		margin-top: -30px;

		h1:not(.access-code) {
			font-size: 24px;
			margin: 0px;
			margin-bottom: 20px;
			width: 100%;
			font-family: AvenirNext-Bold;
			font-weight: bold;
		}

		p {
			font-size: 12px;
			color: #ebebeb;
			font-family: $avenir-reg;
		}
	}

	.waiting {
		width: 100%;
		padding: 0px;

		.access-code {
			max-width: 200px;
			height: auto;
			font-size: 56px !important;
			padding: 5px;
			// color: #0098d0;
			border: 3px solid #61f5de;
			background-color: #00c2a9;
			margin: 10px auto;
			font-family: $aileron;

			span:nth-child(1) {
				color: #56f6d6;
			}

			// TODO: color var
			span:nth-child(2) {
				color: #fc2058;
			}

			span:nth-child(3) {
				color: #fdb211;
			}

			span:nth-child(4) {
				color: #6b00fb;
			}
		}

		p {
			font-size: 16px;
		}
	}

	.player-logo {
		height: 40px;
		width: 200px;
		margin: 8px;

		p {
			text-align: left;
			color: #949494;
			font-family: AvenirNext-Bold;
			font-size: 20px;
			height: 20px;
			line-height: 40px;
			float: left;
			margin: 0px;

		}
	}

	#players {
		height: auto;
	}

	.player-grid {
		background-color: white;
		max-height: 60%;
		min-height: 50%;
		width: 100%;
		left: 0px;
		position: absolute;
		bottom: 10%;
		border-top: solid 4px $turquoise-dark;
	}


	// If not on login screen, hide the back button
	&:not(.lobby) {
		button#lobby-back {
			display: none;
		}
	}

	// The lobby player grid
	&.player-grid {
		color: black;

		#logo-bar {
			// display: block !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: $nav-height;
			background-color: $color-pink;

			img {
				height: $nav-height - 5px;
				width: auto;
			}

		}

	}

	#intro {
		button {
			position: absolute;
			right: 9%;
			bottom: 11%;		
		}
		.text {
			border: solid 2px black;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.38;
			letter-spacing: 0px;
			text-align: center;
			color: black;
		}
	}

}