// WIDTHS


@media (min-width: 425px) {

	#wrapper:not(.home-wrap), .modal {
		max-width: 425px;
		height: 100%;
		margin: 0 auto;
	}
	
}

@media (max-width: 425px) {
	.siteLanding#homepage .row {
		padding: 30px 25px;
	}
	.siteLanding#homepage {
		.game-learn, .game-flow  {
			padding: 0px;
		}
	}
}

@media (max-width: 321px) {


	body .inner-modal .inner .player-box {
		background-position: 20px center;
		padding-left: 5%;
		.coins {
			padding-top: 40px;
			padding-left: 15px;
		}
		.info {
			width: 80%;
		}
	}
	body #gameContent.isMobile:not(.isDevice) {
		padding-top: 0px;

		&.in-game {
			padding-top: 40px;
		}
		#lobby #name.lobby .login-footer {
			padding: 0px 35px;
		}
		#lobby #name.lobby #btn_submit_name {
			margin-top:1%;
		}
	}

	body #lobby #name.lobby .login-footer {
		padding: 20px 35px;
	}

	body #lobby #name.lobby .form {
		top: 0px;
	}


	body #lobby #name.lobby #description p {

		width: 100%;
	}
	
	.glide__slide {
		min-width: 274px !important;
	}

	body .player-grid{
		min-height: 45%;
	}

	body blockquote.speech {

		padding: 60px 20px;
		
		button {
			bottom: 60px;
			right: 10px;
		}

		p {
			line-height: 20px;
		}

	}

	body.mobile blockquote.speech {

		padding: 60px 20px;
		
		button {
			bottom: 88px;
			right:10px;
		}

		p {
			line-height: 20px;
		}

	}

	body .inner-modal#more-time-wrapper button {
		width: 260px;
	}

	body .inner-modal#more-time-wrapper #btn-more-time {

		.coins {
			padding-right: 20px;
		}

	}

	// Role Card
	body #role-card {
	  .inner {
	  	@include gradient-vertical(#18b898, $white, 20%, 20%);
	  }

		.role-info {
			margin: 0px;

			.icon {
				margin: 4px auto;
			}
		}

		.agenda-item {
			margin: 16px auto;
		}
	}

	body .timer_wrap {
		p {
			width: 100%;
		}
	}

	
}

@media (max-width: 375px) and (min-width: 321px) {

	.glide__slide {
		min-width: 320px;
	}

	// Fix that quote!
	body blockquote.speech {
		p {
			line-height: 1.4;
		}
		button {
			bottom: 80px;
			// &:before {
			// 	bottom: 5px;
		 //    left: 60px;
			// }
			&.timer {
			bottom: 80px;
				// &:before {
				// 	bottom: 4px;
				// 	left: 123px;
				// }
			}
		}
		
	}

	body .speech {
	  // "Next buttons"
	  button {
		  &.timer {
		  // 	&:before {
				//   left: 103px;
				// }
		  }
		}
	}

	body #timer_wrap {
		p {
			margin-top: 23%;
			width: 100%;
		}
	}
	
}
// TO DO: Target ipad screens ONLY (not just ipad sized screens)
// @media only screen and (max-width: 769px) and (min-width:376px) {
// 	body blockquote.speech {
// 		button {
// 			&:before {
// 				bottom: 5px;
// 		    left: 60px;
// 			}
// 		}
// 	}
// }
// HEIGHTS

// For teeny tiny screen heights (iPod)
@media(max-height: 461px) {

	body #role-card {

		top: 20px;


	}

	body .inner-modal .inner {
		height:80%;

		#game-menu {
			#logo-header {
				width: 200px;
			}
			.btn {
				margin-bottom: 2%;
			}
			.btn_cap {
				margin-bottom: 15px;
			}
		}
	}

	body .inner-modal .inner .player-box {
		background-position: 20px center;
		.coins {
			padding-top: 40px;
			padding-left: 15px;
		}
		.info {
			width: 80%;
		}
	}

	// body .speech button.scoreboard:before {
	// 	left: 157px;
	// 	bottom: 4px;
	// }

	body #lobby .lobby #tutorial {
		padding-top: 45%;
	}

	body .timer_wrap button {
		right: 40%;
		bottom: 23%;
		font-size: 17px;

		// &:before {
		// 	left: 58px;
		// 	bottom: 5px;
		// }
	}


	// Fix the login!
	.player-grid {
		max-height: 50%;
		min-height: 40%;
	}

	body .instruction h1 {
		margin: 0px;
	}

	// Fix that quote!
	body blockquote.speech {
		padding: 10px 20px !important;
		height:210px !important;
		h3 {
			line-height: 1.3;
			margin: 5px;
		}

		button {
			bottom: 45px;
			left:65%;
			// &:before {
			// 	bottom: 5px;
		 //    left: 60px;
			// }

			&.timer {
				bottom: 50px;
				left: 120px;
				right: 0px;

				// &:before {
				// 	bottom: 5px;
				// 	left: 120px;
				// }
			}
		}
	}

	// // Fix those buttons!
	// .decider:not(.speech), .decider:not(.timer_wrap) {
	// 	button {
	// 		position: absolute;
	// 		z-index: 4000;
	// 		left: 20%;
	// 	}
	// }

}
