@media (min-width: 425px) {

	#wrapper:not(.home-wrap), .modal {
		max-width: 425px;
		height: 100%;
		margin: 0 auto;
	}
	
}

@media (max-width: 320px) {

	.glide__slide {
		min-width: 274px !important;
	}

	.player-grid{
		min-height: 45%;
	}
	
}

@media (max-width: 375px) and (min-width: 321px) {

	.glide__slide {
		min-width: 320px;
	}
	
}
