#gameContent {
	background-color: $color-turquoise;
	// Display as table to vertically center content elements
	display: table;	
	// Remove margin and extend width/height from table display settings
	margin: 0px;
	width: 100%;
	height: 100%;

	// During the gameplay
	&.in-game {
		background-color: white;

		// Show coin and points bar
		section#bottom-bar {
			display: block;
		}

	}

	// Lobby game screens
	&.lobby {
		// Show back button on login screen
		button#lobby-back {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			margin: 10px;
		}

	}

	// If not on login screen, hide the back button
	&:not(.lobby) {
		button#lobby-back {
			display: none;
			
		}
	}

	// The lobby player grid
	&.player-grid {
		background-color:white;
		color: black;

		#logo-bar {
			display: block !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: $nav-height;
			background-color: $color-pink;

			img {
				height: $nav-height - 5px;
				width: auto;
			}

		}
		
	}

}

.room-container {
	bottom: 10%;
	padding-left: 10%;
  padding-right: 10%;
	position: relative;
	margin: 10px auto;
	background-color: white;
	color: black;
  // min-height: 250px;
  display: table-cell;
  vertical-align: middle;

	h1 {
		font-size: 6em;
	}

	@if (section &) {
		section & {
			height: 100%;
			width: 100%;
			display: table;
		}
	}

}

// LOGIN

#decider, #login {
	display: table-cell;
	vertical-align: middle;
}

#login-header {
	width: 50%;
	margin-left: 25%;

	img {
		height: 100%;
		width: 50%;
		padding: 10px;
	}

	p {
		color: white;
		width: 80%;
		margin-left: 10%;
	}

}

input.post-button {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 0px;
	background-color: $color-seafoam;
	z-index: 1000;
}

// Player Grid

#players {
	width: 50%;
	margin-left: 25%;
}


// CONTENT SELECTION
.submission {

	.form {
		color: white;
		width: 70%;
		margin-left: 15%;
	}

	#decks {
		width: 100%;

		button {
			width: 100%;
			background-color: white;
			color: $color-turquoise;
			margin: 5px 0px;
			padding: 5px;
		}
	}
	
	#btn_submit {
		color: white;
		background-color: $color-seafoam;
		width: 100%;
	}

	#access-code {
		font-size: 4em; 
	}

}

// BOTTOM BAR (COINS, NEXT)
section#bottom-bar {
	background-color: $color-seafoam;
	font-size: large;
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.ended-container {
	background-color: white;
	margin: 0 auto;
}

.winner {
	background-color: white;
}



.role, .agenda_item {
	display: none;
}

// HIDE ANY DECIDER-ONLY VIEWS BY DEFAULT
#decider, #decider-controls {
		display: none;
}

.screen {
	display: none;
	float: none;
  margin: 0 auto; 
}

// GAME
.player-bio {
	height: 100%;
	width: 100%;
	display: table;

	.room-container {

		height:30%;
		display: table-cell;
		vertical-align: middle;
	}
}

#rules {
	height: 100%;
	display: table;
	.screen {
		// These are hidden by default
		display: none;
		vertical-align: middle;
	}
}
