// Images
$background-main: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1/emerging-citizens/images/layout/htyi/background_tileable.png);
$player-one-logo: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1540566471/at-stake/playericons/avatar1.svg);
$player-two-logo: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1540566471/at-stake/playericons/avatar2.svg);
$player-three-logo: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1540566471/at-stake/playericons/avatar3.svg);
$player-four-logo: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1540566471/at-stake/playericons/avatar4.svg);
$player-five-logo: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1540566471/at-stake/playericons/avatar5.svg);

/* COLORS */

// Turquoise
$color-turquoise: #00dcba; // Background color
$turquoise-dark: #00c2a9; 
$turquoise-light: #61f5de;
$light-greenish-blue: #56f6d6;

// Blue
$color-blue: #20b5e6;
$blue-dark: #0098d0;
$blue-light: #56d5ff;
$tiffany-blue: #61f5de;
$dark-sky-blue: #20b5e6;
$color-teal: #039b8a;
$bluegreen: #02826a;
$cerulean-blue: #0067d8;

// Red
$color-red: #ff4700;
$red-dark: #ff3000;
$red-light: #ff8c53;
$strawberry: #e4323c;

// Orange
$color-orange: #ff9600;
$orange-dark: #ff7800;
$orange-trans: rgba(254, 120, 70, 0.9);
$orange-light: #ffbe0f;
$sunflower: #ffbe0f;
$tangerine: #ff9600;

// Pink 
$color-pink: #ff115a;
$pink-dark: #e90048;
$pink-light: #ff3d6b;
$pink-red-two: #ff115a;
$bubble-gum-pink: #ff6ca8;

// Grey/White
$grey-white: #c1c1c1;
$grey-shadow: #e1e1e1;
$color-grey: #555555;
$grey-dark: #949494;
$color-white: #ebebeb; 
$greyish-brown-70: rgba(85, 85, 85, 0.7);

// Game
$logo-color: #00c5c2;
$action-button: #555555;
$background-color: white;
$yellow: #f7f248;

// Heights
$nav-height: 50px;
$nav-height-thin: 25px;

/* HOMEPAGE */

// $color-turquoise: #1EB4BB;
$color-seafoam: #00D6B4;
$color-orange: #febb2c;
$color-pink: #fd2c76;
$background-mint: #00d5b4;
$type-dark-mint: #178f79;
$type-black: #6a6a6a;
$light-mint: #38d9b3;
$dark-mint: #00c8a9;
$light-blue: #57e2ff;
$dark-blue: #20b5e6;
$type-blue: #006f93;
$white: #ffffff;
$light-gold: #ffd461;
$aquamarine: #00dcba;
$blue-violet: #5c00d6;
$pumpkin-orange: #ff7800;
$pink-red: #e90048;
$cerulean: #0098d0;