<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		
		{{#if isActive}}
		
			<section id="your-items">
	      {{#each agendaItems}}
		      <div class="agenda_item"{{#ifeq @index ../activeIndex}} style="display:block"{{/ifeq}}>
						The Decider is reviewing your agenda item:<br />
						<h3>{{this}}</h3>
					</div>
	      {{/each}}
			</section>
		
		{{else}}

			<section id="their-items">
	      {{#each agendaItems}}
		      <div class="agenda_item"{{#ifeq @index ../activeIndex}} style="display:block"{{/ifeq}}>
					The Decider is reviewing {{namePossessive ../activeUser}} agenda item:<br />
						<h3>{{this}}</h3>
					</div>
	      {{/each}}
			</section>

		{{/if}}
		
		<div id="chosen">
		</div>
		
		<div id="not-chosen">
		</div>

	</div>
</section>