<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
  
  	<h3>{{name}} the {{title}}</h3>

  	{{{bio.html}}}

	</div>
	<div class="form row" id="decider">
    <input id="btn-start-game" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
</section>