<section class="player-bio">
  <div class="row room-container">
  
  	<h3>{{name}} the {{title}}</h3>

  	{{{bio.html}}}

{{!--   	{{#each agendaItems}}
  		{{agendaItems}}
  	{{/each}} --}}

	</div>



</section>