<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		
		<h3>The Decider is selecting the winner with the best proposal!</h3>

	</div>
	<div class="form row {{!-- hidden-el --}}" id="decider">
    <input id="btn-start-game" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
</section>