<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		
    <div id="deliberate">
  		
      <h3>{{name}} the {{title}}</h3>

    	{{{bio.html}}}

    	<h4>Agenda</h4>

    	<ul>
        {{#each agendaItems}}
          <li>{{this}}</li>
        {{/each}}
    	</ul>

      Time left: <span id="countdown"></span>
      
    </div>

	</div>
</section>