<div class="screen" style="display:block">
	<div class="modal inner-modal">
		<div class="inner">
		
			<h1>The game is ending!</h1>
			<h2>Thanks for playing! You are being brought back to the login screen....</h2>
			
	  </div>
	</div>
</div>