<div class="row room-container">
	<h3>"Now everyone quietly review your agenda items. You'll earn extra coins if these are included in the winning proposal. Keep them secret!"</h3>

	Press next when everyone's ready
</div>
