<div class="row room-container">
	<h3>"Now I'll award bonus points. I'll review each of your secret agenda points and award coins if they were included in the winning proposal."</h3>

	Press next when everyone's ready

</div>
