<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		<h3>"Now I'll award bonus points. I'll review each of your secret agenda points and award coins if they were included in the winning proposal."</h3>

		Press next when everyone's ready

	</div>
	<div class="form row {{!-- hidden-el --}}" id="decider">
    <input id="btn-next" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
</section>