<div class="row room-container">
	<h3 class="read">"Everyone, please introduce your character roles. You will be playing from this perspective this round."</h3>

	Press next when everyone has introduced themselves
</div>
