<section class="col-lg-6 col-sm-6">
  <div id="game_code" class="row room-container">
		<h3>"Everyone, please introduce your character roles. You will be playing from this perspective this round."</h3>

		Press next when everyone has introduced themselves

	</div>
</section>