<section class="col-lg-6 col-sm-6">
  <div class="row room-container">

		Time's up! I will now choose the best proposal.

	</div>
	<div class="form row" id="decider">
		{{#each players}}
	    <input class="post-button submit" data-event="game:proposal_selected" data-package='{{this}}' data-keep_enabled="true" data-autohide="true" type="submit" name="submit" value="{{this}}">
		{{/each}}
		{{!-- <input data-event="game:proposal_selected" /> --}}
	</div>
</section>