<span class="light">Swipe left and right to switch decks</span>
<div class="glide__bullets"></div>

{{!-- <div class="glide__arrows">
  <button class="glide__arrow prev" data-glide-dir="<">prev</button>
  <button class="glide__arrow next" data-glide-dir=">">next</button>
</div> --}}

<div class="glide__wrapper">
  <div class="glide__track">
    
    {{#each this}}

      <div class="glide__slide" style="{{!-- width: 80%; --}}">

        <div class="deck">
        
          <h2>{{name}}</h2>

          <div class="description">
            {{description}}
          </div>

          <h3>Talking Points</h3>
          {{!-- <ul> --}}
            {{#each questions}}
              <div>{{this}}</div>
            {{/each}}
          {{!-- </ul> --}}

          <h3>Sample Stakeholders</h3>
          <div class="col-sm-6">
            {{#each roles}}
              <span>{{title}}</span>

              {{#ifeq @index 2}}</div><div class="col-sm-6">{{/ifeq}}              
            {{/each}}
          </div>

        </div>
      </div>

    {{/each}}

  </div>
</div>