<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		<h4><em>{{question}}</em></h4>

		Press 'deliberate' to start the timer. Be sure to ask probing questions about the proposal and encourage questions among players.

	</div>
	<div class="form row {{!-- hidden-el --}}" id="decider">
    <input id="btn-time" data-event="game:start_timer" class="submit" type="submit" name="time" value="deliberate ({{config.deliberateSeconds}} seconds)">
    <input id="btn-next" data-event="game:next" class="submit" type="submit" name="next" value="next" style="display:none">
    Time left: <span id="countdown"></span>
	</div>
</section>