{{!-- PITCH PHASE UI --}}
<div id="pitch">

	{{!-- START --}}
	<div class="screen initial">
		
		<section class="instruction decider">
		</section>

		<blockquote class="speech decider form">

      <p>"Now everyone will take turns pitching their proposal."</p>
			
			{{#if firstPlayer}}
				The first player to pitch is <em>{{activePlayer.username}}</em>.
			{{else}}
				The next player to pitch is  <em>{{activePlayer.username}}</em>.
			{{/if}}
			
      <button class="next-step submit" data-event="game:next_screen">next</button>
    </blockquote>

	</div>

	{{!-- COUNTDOWN START --}}
	<div class="screen">

		{{> component/instructions
				decider=true 
				heading="Press the button to start the timer"
				body="Make sure everyone is ready and understands the instructions, then press the button to start the timer."
		}}
		
		{{> component/timer button=true}}

	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen">

{{!-- 		{{> component/instructions
				decider=true 
				heading="Press the button to start the timer"
				body="Make sure everyone is ready and understands the instructions, then press the button to start the timer."
		}} --}}

		{{> component/timer 
				time=config.pitchSeconds
				decider=true
				advance_player=true
		}}

	</div>
</div>