<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		Round {{round}}

		<h3>"Here is the question you'll answer this round. Is everyone ready to ponder a solution?"</h3>

		<h4><em>{{question}}</em></h4>

		When everyone is ready, press next.

</section>