<div class="row room-container">

	<h4><em>{{question}}</em></h4>
  Time left: <span id="countdown"></span>

  <div class="form row {{!-- hidden-el --}}" id="decider">
	  <input id="btn-time" data-event="game:start_timer" class="submit" type="submit" name="submit" value="think ({{config.thinkSeconds}} seconds)">
	  <input id="btn-next" data-event="game:next" class="submit" type="submit" name="submit" value="next" style="display:none">
	</div>

</div>

{{!-- Div's data tag modifies script behavior --}}
<span id="modifier" class="hidden-el" data-hide_next="true"></span>
