{{!-- BRAINSTORM PHASE UI --}}
<div id="brainstorm">

	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="Remember to think from your stakeholder's perspective and include your agenda items!"
		}}

		{{> component/speech 
				decider=true
				body=(combine 'In this phase, you will have ' config.thinkSeconds ' seconds to think of a proposal that addresses this question: ' question)
		}}

		{{> component/speech 
				body=(combine 'In this phase, you will have ' config.thinkSeconds ' seconds to think of a proposal that addresses this question: ' question)
		}}

	</div>

	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Get ready to think of a proposal"
				body="Remember you can open and close your role card at anytime during the game!"
		}}

		{{> component/speech 
				decider=true
				body="Remember to think from  your assigned Stakeholder's perspective. When time is up, we will move to the next phase where you will pitch your proposals!"
		}}

		{{> component/speech 
				body="Remember to think from  your assigned Stakeholder's perspective. When time is up, we will move to the next phase where you will pitch your proposals!"
		}}

	</div>

	{{!-- TIMER START --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Press the button to start the timer"
				body="When everyone is ready, press the button to start the timer."
		}}
		
		{{> component/instructions 
				heading="Get ready to think of a proposal"
				body="Remember to incorporate your hidden agenda items and embody your stakeholder role!"
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=config.thinkSeconds
				stage="think"
				body="Press the red button to start!"
		}}

		{{> component/timer				
				preview=true
				time=config.thinkSeconds
				stage="think"
				body=question
		}}
	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Wait for the timer to reach zero"
				body='When the timer reaches zero announce "Times Up!" The screen will advance automatically.'
		}}
		
		{{> component/instructions 
				heading="Think of a proposal"
				body="Remember to incorporate your hidden agenda items and embody your stakeholder role!"
		}}
 
		{{> component/timer 
				time=config.thinkSeconds
				decider=true
				stage="think"
				body=question
		}}
		
		{{> component/timer 
				time=config.thinkSeconds
				body=question
				stage="think"
		}}
	
	</div>

</div>