{{!-- DEBRIEF UI --}}
<div id="debrief">
  <div id="login-header" class="hidden-el">
    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1490382407/at-stake/layout/logo.svg" height='auto' width='200px'/>
  </div>

	<div class="screen initial" data-animation="debrief">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="Get ready to talk about your experience playing @Stake!"
		}}

		{{> component/speech 
				decider=true
				body="Let's debrief on our experience. I will read a question, and then we will have an informal conversation about what we think. There are four questions to discuss."
		}}

		{{> component/speech 
				body="Let's debrief on our experience. I will read a question, and then we will have an informal conversation about what we think. There are four questions to discuss."
		}}

	</div>

	{{!-- QUESTIONS --}}
	{{#each questions}}

		<div class="screen">

			{{> component/instructions 
					decider=true
					heading="Read the text in the blue box aloud"
					body=(combine "Share your responses to the question. Press next to move to question " (sum @index 2) " .")
			}}
			
			{{> component/instructions 
					heading="Share your responses to the question."
			}}

			{{> component/speech 
					decider=true
					body=(combine 'Question ' (sum @index 1) ': ' this)
			}}

			{{> component/speech 
					body=(combine 'Question ' (sum @index 1) ': ' this)
			}}
		
		</div>

	{{/each}}

	{{!-- END --}}
	<div class="screen">

		{{> component/speech 
				decider=true
				exit=true
				body="Thanks for playing @Stake!"
		}}

		{{> component/speech 
				body="Thanks for playing @Stake!"
		}}
	
	</div>

</div>