{{!-- DELIBERATE PHASE UI --}}
<div id="deliberate">

	{{!-- WAIT --}}
	<div class="screen form">

		{{> component/instructions 
				decider=true
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/instructions 
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}
		
		<button id="btn-ready" class="btn submit player" type="submit" name="submit" data-event="game:ready" data-package="next">
			Ready
		</button>

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

	</div>

	{{!-- DELIBERATE --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/instructions 
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}
		
		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

		<div class="player-roles col-sm-6">

			<h3>Team's Roles</h3>
			{{#each players}}
				{{username}}<br />{{agendaItems}}<p></p>
			{{/each}}

		</div>

	</div>

</div>