{{!-- DELIBERATE PHASE UI --}}
<div id="deliberate">

	{{!-- INTRO --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body=(combine '"We will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion, with the decider kicking things off"')
		}}

		{{> component/speech 
				decider=true
				body=(combine 'Now that we heard everyone\'s pitch, we will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion, with the decider (me!) kicking things off.')
		}}

		{{> component/speech 
				body=(combine 'Now that we heard everyone\'s pitch, we will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion, with the decider kicking things off.')
		}}

	</div>

	{{!-- INTRO 2 --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body='"Any player may ask any other player for details about their proposal, offer counter arguments, or ask for changes at any time."'
		}}

		{{> component/speech 
				decider=true
				body="Because this is an open discussion, any player may ask any other player for details about their proposal, offer counter arguments, or ask for changes/additions to any proposal at any time."
		}}

		{{> component/speech 
				body="Because this is an open discussion, any player may ask any other player for details about their proposal, offer counter arguments, or ask for changes/additions to any proposal at any time."
		}}

	</div>

	{{!-- INTRO 3 --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body='"Your objective is to get your proposal chosen by the decider and/or have your agenda items incorporated into the winning proposal"'
		}}

		{{> component/speech 
				decider=true
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items in a winning proposal"
		}}

		{{> component/speech 
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items in a winning proposal"
		}}

	</div>

	{{!-- TIMER START --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Press the button to start the timer"
				body="When everyone understands the instructions and is ready, press the button to start the timer and begin the deliberation phase"
		}}
		
		{{> component/instructions 
				heading="Wait for the Decider to start the timer"
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items in a winning proposal"
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=config.deliberateSeconds
				body="Get Ready to Deliberate!"
		}}
		{{> component/timer 
				preview=true
				time=config.deliberateSeconds
				body="Get Ready to Deliberate!"
		}}


	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen no-transition">

		{{> component/instructions 
				decider=true
				heading="Lead a discussion about the proposals"
				body="Ask probing questions, encourage discussion among players, and keep track of any changes stakeholder's make to their proposals"
		}}
		
		{{> component/instructions 
				heading="Engage in the open discussion"
				body="Ask probing questions to counter or promote your own proposal, or attempt to get your  agenda items into other proposals"
		}}
 
		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true
				time=config.deliberateSeconds
				body="Go! When the timer reaches zero, stop the discussion!"
		}}
		{{> component/timer
				time=config.deliberateSeconds
				body="Go! When the timer reaches zero, stop talking!"
		}}
	
	</div>

	{{!-- END --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Time's up! Stop speaking"
				body=(combine 'If you feel like you didn\'t get a word in or have more to say, you can buy ' config.doubledownSeconds ' second blocks of uninterupted talking time in the next phase!')
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Times up! Everyone stop talking. If you feel like you didn't get a word in or have more to say, you can buy 30 second blocks of uninterupted talking time in the next phase!"
		}}

		{{> component/speech 
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items in a winning proposal"
		}}

	</div>

</div>