{{!-- DELIBERATE PHASE UI --}}
<div id="deliberate">

	{{!-- WAIT --}}
	<div class="screen form">

		{{> component/instructions 
				decider=true
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/instructions 
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}
		
		<button id="btn-ready" class="btn submit player" type="submit" name="submit" data-event="game:ready" data-package="next">
			Ready
		</button>

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

	</div>

	{{!-- DELIBERATE --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}

		{{> component/instructions 
				heading="Deliberate"
				body="Think of solutions to the problem scenario below. Consider your teammates' needs when deliberating. Keep in mind equity, fidelity,  and cost effectiveness."
		}}
		
		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}

		{{> component/speech
				decider=true
				scenario=true
				body="Problem Scenario"
				secondary=question
		}}
		
		<div id="events" class="player form">
			Breaking News
			<div id="content">
				Clones develop critical genetic failure
			</div>
		</div>

		<div id="events" class="decider form">
			<div id="content">
				<div class="event">
					<h3>New Event</h3>
					<div>Clones develop critical genetic failure</div>
				</div>
				<div class="event">
					<h3>New Event</h3>
					<div>Some type of event #1</div>
				</div>
				<div class="event">
					<h3>New Event</h3>
					<div>Some type of event #2</div>
				</div>
			</div>

			<div id="buttons">

				<button id="btn-confirm" class="btn submit" type="submit" name="submit" data-event="game:event" data-package="confirm">
					&#10004;
				</button>
				<button id="btn-reject" class="btn submit" type="submit" name="submit" data-event="game:event" data-package="reject">
					X
				</button>
			</div>
		</div>

		<div class="player-roles col-sm-6 player">

			<h3>Team's Roles</h3>
			{{#each players}}
				{{username}}<br />{{agendaItems}}<p></p>
			{{/each}}

		</div>

		<div id="time-up" class="player">

			{{{cloudinaryUrl 'v1540488090/at-stake/bg/clock' width='319'}}}
			<h1>Time's up!</h1>
			<h3>This would be a good time to call to vote</h3>
		</div>

	</div>

</div>