{{!-- DELIBERATE PHASE UI --}}
<div id="deliberate">

	{{!-- INTRO --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body=(combine '"We will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion led by the Decider."')
		}}

		{{> component/speech 
				decider=true
				body=(combine 'Now that we heard everyone\'s pitch, we will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion led by the Decider.')
		}}

		{{> component/speech 
				body=(combine 'Now that we heard everyone\'s pitch, we will take ' config.deliberateSeconds ' seconds to talk about your proposals. This will be an open discussion led by the Decider.')
		}}

	</div>

	{{!-- INTRO 2 --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body='Get ready to deliberate with the group!'
		}}

		{{> component/speech 
				decider=true
				body="Because this is an open discussion, any player may ask any other player for details about their proposal, offer counter arguments, or ask for changes/additions to any proposal at any time."
		}}

		{{> component/speech 
				body="Because this is an open discussion, any player may ask any other player for details about their proposal, offer counter arguments, or ask for changes/additions to any proposal at any time."
		}}

	</div>

	{{!-- INTRO 3 --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body='Get ready to deliberate with the group!'
		}}

		{{> component/speech 
				decider=true
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items in a winning proposal"
		}}

		{{> component/speech 
				body="Remember! Your objective is to get your proposal chosen by the decider and/or have your agenda items incorporated into the winning proposal."
		}}

	</div>

	{{!-- TIMER START --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Press the button to start the timer"
				body="When everyone is ready, press the button to start the timer and begin deliberation."
		}}
		
		{{> component/instructions 
				heading="Wait for the Decider to start the timer"
				body="Once the timer begins, you can begin deliberation."
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=config.deliberateSeconds
				stage="deliberate"
				body="Get Ready to Deliberate!"
		}}
		{{> component/timer 
				preview=true
				time=config.deliberateSeconds
				stage="deliberate"
				body="Get Ready to Deliberate!"
		}}


	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen no-transition">

		{{> component/instructions 
				decider=true
				heading="Lead a discussion"
				body="Ask probing questions, take notes on changes,  and encourage discussion among players."
		}}
		
		{{> component/instructions 
				heading="Engage in the open discussion"
				body="Ask probing questions and chime in to further your agenda items and/or proposal."
		}}
 
		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true
				time=config.deliberateSeconds
				stage="deliberate"
				body="Go! When the timer reaches zero, stop the discussion!"
		}}

		{{> component/timer
				time=config.deliberateSeconds
				stage="deliberate"
				body="Go! When the timer reaches zero, stop talking!"
		}}
	
	</div>

	{{!-- END --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Time's up! Stop speaking"
				body='Listen to the decider and get ready for the Double-Down phase!'
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Times up! Everyone stop talking. Its time to move to the next phase."
		}}

		{{> component/speech 
				body="Times up! Everyone stop talking. Its time to move to the next phase."
		}}

	</div>

</div>