{{!-- DOUBLE-DOWN PHASE UI --}}
<div id="pitch">

	{{!-- START --}}
	<div class="screen initial">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="This is the double-down phase!"
		}}

		{{> component/speech
				body="This is the double-down phase!"
		}}

	</div>

	{{!-- COUNTDOWN START --}}
	{{!-- this is where phase re-starts for subsequent players --}}
	<div class="screen restart">

		{{> component/instructions
				decider=true 
				heading="Press the button to start the timer"
				body="Make sure the player pitching is ready and understands the instructions, then start the timer."
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="It’s your turn! Get ready to pitch!"
				body="Wait for the decider to start the timer. You will have 60 seconds, with the ability to buy another 30."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the other player’s proposal"
				body="Take notes on other player’s proposals so you can better engage critically during deliberation!"
		}}

		{{> component/timer
				active_player=player.isActive 
				time=config.doubledownSeconds
		}}

		{{!-- choice box for buying more time --}}
		{{> component/choice 
				active_player=player.isActive
				all_players=true
				doubledown=true
		}}


	</div>
	
</div>