<div id="meet">

	<div class="one">
		
		<section class="instruction decider">
			<h1>read the text in the blue box outloud</h1>
			<div>Once you have finished speaking the instructions to other players, press next to continue</div>
		</section>

		<section class="instruction player">
			<h1>Open your Role Card and review your role</h1>
			<div>Press the Role Card buton on the bottom of the screen to review your title and bio.</div>
		</section>

		<blockquote class="speech decider">
        <p>"Everyone open your role card using the button at the bottom of your screen and review your character role. You will be playing from this character's perspective this round."</p>
			<button id="next">next</button>
    </blockquote>
		<blockquote class="speech player">
			<p>"Everyone open your role card using the button at the bottom of your screen and review your character role. You will be playing from this character's perspective this round."</p>
		</blockquote>

	</div>

{{!-- 	<div class="two">
		
		<section id="instruction" class="decider">
			<h1>read the text in the blue box outloud</h1>
			<div>Once you have finished speaking the instructions to other players, press next to continue</div>
		</section>
		<section id="instruction" class="player">
			<h1>Open your Role Card and review your role</h1>
			<div>Press the Role Card buton on the bottom of the screen to review your title and bio.</div>
		</section>

		<div class="speech" class="decider">
			"Everyone open your role card using the button at the bottom of your screen and review your character role. You will be playing from this character's perspective this round."
			<button id="next">next</button>
		</div>
		<div class="speech" class="player">
			"Everyone open your role card using the button at the bottom of your screen and review your character role. You will be playing from this character's perspective this round."
		</div>

	</div> --}}

</div>