{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- RULES - First Round Only and if Tutorial enabled --}}
	{{!-- {{#if tutorial}}
		{{> shared/rules }}
	{{/if}} --}}
	<div class="screen initial">

		{{> shared/rolecard player.role}}

	</div>

	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Introductions"
				body="Introduce your character and how this scenario impacts you. Try to mention your objective you need to meet."
		}}

		{{> component/instructions 
				heading="Introductions"
				body="Introduce your character and how this scenario impacts you. Try to mention your objective you need to meet."
		}}

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}

		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}

	</div>

	{{!-- QUESTION --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Introductions"
				body="Give each player an equal opportunity to introduce their character and how they are impacted by this scenario."
		}}

		{{> component/instructions 
				heading="Introductions"
		}}

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

		{{> component/timer 
				decider=true
				disabled=true
		}}

	</div>

	{{!-- ROLE CARDS --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Introductions"
				body="Give each player an equal opportunity to introduce their character and how they are impacted by this scenario."
		}}
		{{> component/speech 
				body="Problem Scenario"
				secondary=question
		}}

	</div>

</div>