{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- RULES - First Round Only and if Tutorial enabled --}}
	{{!-- {{#if tutorial}}
		{{> shared/rules }}
	{{/if}} --}}

	{{!-- ROLE CARDS --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen"
				body=""
		}}

		{{> component/speech 
				decider=true
				body=(combine 'We\'ll be addressing the following question: ' question)
		}}

		{{> component/speech 
				body=(combine 'We\'ll be addressing the following question: ' question)
		}}

	</div>

	{{!-- ROLE CARDS 2 --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body=""
		}}

		{{> component/instructions 
				heading="Review your Hidden Agenda items"
				body=""
		}}

		{{> component/speech 
				decider=true
				body="Now click the character icon down below and get acquainted with who you will be representing during the deliberations. Let your facilitator know when you've finished."
		}}

		{{> component/speech 
				body="Now click the character icon down below and get acquainted with who you will be representing during the deliberations. Let your facilitator know when you've finished."
		}}

	</div>

	{{!-- ROLE CARDS / AGENDA ITEMS --}}
	{{!-- <div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you have finished speaking the instructions, press next to continue"
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="On your turn, read your character role title and bio aloud to the group."
		}}

		{{> component/speech 
				decider=true
				body="On your turn, you will introduce yourself by reading your stakeholder role and short bio to the group. Do not read your hidden agenda items aloud!"
		}}

		{{> component/speech 
				body="On your turn, you will introduce yourself by reading your stakeholder role and short bio to the group. Do not read your hidden agenda items aloud!"
		}}

	</div> --}}
	
	<div class="screen">
		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=10
				stage='meet'
				body='Now that everybody has seen their character, take a minute to think about how you will introduce yourself.'
		}}

		{{> component/timer 
				preview=true
				time=10
				stage='meet'
				body='Now that everybody has seen their character, take a minute to think about how you will introduce yourself.'
		}}
	</div>

	{{!-- READ ROLES (each player) --}}
	{{#each players}}
		{{#ifnoteq decider true}}
		<div class="screen">
			
			{{> component/instructions 
					decider=true
					heading="Read the text in the blue box aloud"
					body="When the player has finished introducing themselves, press next to continue."
			}}

			{{> component/instructions 
					heading="Listen to the Decider"
					body="If it is your turn, open your rolecard and read you stakeholder title and bio."
			}}

			{{> component/speech 
					decider=true
					body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
			}}

			{{> component/speech 
					body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
			}}

		</div>
		{{/ifnoteq}}
	{{/each}}

	{{!-- DONE --}}
	<div class="screen">
		
		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you have finished speaking the instructions, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="Remember, you can open and close your role card at anytime during the game! "
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember, you can open and close your role card at any time during the game. "
		}}

		{{> component/speech 
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember, you can open and close your role card at any time during the game. "
		}}

	</div>

</div>