{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- RULES - First Round Only and if Tutorial enabled --}}
	{{#if tutorial}}
		{{> shared/rules }}
	{{/if}}

	{{!-- ROLE CARDS --}}
	<div class="screen {{#unless tutorial}}initial{{/unless}}">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box out loud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Press the Role Card button"
				body="Press the Role Card buton on the bottom of the screen to review your title and bio."
		}}

		{{> component/speech 
				decider=true
				body="As the Decider, I will lead you through this round of @Stake. Lets start! Everyone open your role card using the button at the bottom of your screen."
		}}

		{{> component/speech 
				body="As the Decider, I will lead you through this round of @Stake. Lets start! Everyone open your role card using the button at the bottom of your screen."
		}}

	</div>

	{{!-- ROLE CARDS 2 --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box out loud"
				body="Once everyone has reviewed their hidden agenda items, press next to continue."
		}}

		{{> component/instructions 
				heading="Review your Hidden Agenda items"
				body="At the bottom of your role card are your hidden agenda items. Review them now!"
		}}

		{{> component/speech 
				decider=true
				body="You all have a stakeholder role assigned to you. Review your title, bio, and hidden agenda items now. When ready, close your role card by pressing the arrow at the top of the window."
		}}

		{{> component/speech 
				body="You all have a stakeholder role assigned to you. Review your title, bio, and hidden agenda items now. When ready, close your role card by pressing the arrow at the top of the window."
		}}

	</div>

	{{!-- ROLE CARDS / AGENDA ITEMS --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box out loud"
				body="Once you have finished speaking the instructions, press next to continue"
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="On your turn, read your character role title and bio outloud to the group."
		}}

		{{> component/speech 
				decider=true
				body="On your turn, you will introduce yourself by reading your stakeholder role and short bio to the group. Do not read your hidden agenda items out loud!"
		}}

		{{> component/speech 
				body="On your turn, you will introduce yourself by reading your stakeholder role and short bio to the group. Do not read your hidden agenda items out loud!"
		}}

	</div>

	{{!-- READ ROLES (each player) --}}
	{{#each players}}
		{{#ifnoteq decider true}}
		<div class="screen">
			
			{{> component/instructions 
					decider=true
					heading="Read the text in the blue box out loud"
					body="When the player has finished introducing themselves, press next to continue."
			}}

			{{> component/instructions 
					heading="Listen to the Decider"
					body="If its your turn, open your rolecard and read you stakeholder title and bio."
			}}

			{{> component/speech 
					decider=true
					body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
			}}

			{{> component/speech 
					body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
			}}

		</div>
		{{/ifnoteq}}
	{{/each}}

	{{!-- DONE --}}
	<div class="screen">
		
		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box out loud"
				body="Once you have finished speaking the instructions, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="Remember you can open and close your role card at anytime during the game! "
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember you can open and close your rolecard at any time during the game. "
		}}

		{{> component/speech 
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember you can open and close your rolecard at any time during the game. "
		}}

	</div>

</div>