{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- RULES - First Round Only and if Tutorial enabled --}}
	{{!-- {{#if tutorial}}
		{{> shared/rules }}
	{{/if}} --}}

	{{!-- QUESTION --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Give each player an equal opportunity to introduce their character and how they are impacted by this scenario."
		}}

		{{> component/instructions 
				heading="Listen"
				body=""
				body="Get ready to pitch your proposal to the group!"
		}}

		{{> component/timer 
				decider=true
		}}

		{{> component/speech 
				decider=true
				body=(combine 'We\'ll be addressing the following question: ' question)
		}}

	</div>

	{{!-- ROLE CARDS --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body=""
		}}

		{{> component/instructions 
				heading="Review your Hidden Agenda items"
				body=""
		}}

		{{> component/speech 
				decider=true
				body="Now click the character icon down below and get acquainted with who you will be representing during the deliberations. Let your facilitator know when you've finished."
		}}

		{{> component/speech 
				body="Now click the character icon down below and get acquainted with who you will be representing during the deliberations. Let your facilitator know when you've finished."
		}}

	</div>

	{{!-- BRAINSTORM TIMER --}}
	<div class="screen">
		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=10
				stage='meet'
				body='Now that everybody has seen their character, take a minute to think about how you will introduce yourself.'
		}}

		{{> component/timer 
				preview=true
				time=10
				stage='meet'
				body='Now that everybody has seen their character, take a minute to think about how you will introduce yourself.'
		}}
	</div>

</div>