{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- ROLE --}}
	<div class="screen initial">

		{{> shared/rolecard player.role}}

	</div>

	{{!-- PROBLEM --}}
	<div class="screen form">

		{{> component/instructions 
				decider=true
				heading="Introductions"
				body="Introduce your character and how this scenario impacts you. Try to mention your objective you need to meet."
		}}

		{{> component/instructions 
				heading="Introductions"
				body="Introduce your character and how this scenario impacts you. Try to mention your objective you need to meet."
		}}

		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}
		
		<button id="btn-ready" class="btn submit player" type="submit" name="submit" data-event="game:ready" data-package="timer">
			Ready
		</button>

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

		{{> component/timer 
				decider=true
				disabled=true
		}}

		<div class="not-ready decider">Wait until every player is ready to continue</div>
		<div id="time-up" style="display:none">Time’s up! Consider wrapping this discussion up</div>
		<button id="skip" class="submit deciders" data-event="game:next" style="display:none;">
			Skip to Phase 2
			{{{cloudinaryUrl 'v1540488090/at-stake/icons/check-btn' format='svg'}}}
		</button>
		<button id="go-to" class="submit deciders" data-event="game:next" style="display:none;">
			Go to Phase 2
			{{{cloudinaryUrl 'v1540488090/at-stake/icons/check-btn' format='svg'}}}
		</button>
     
	</div>

	{{!-- QUESTION --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Introductions"
				body="Give each player an equal opportunity to introduce their character and how they are impacted by this scenario."
		}}

		{{> component/instructions 
				heading="Introductions"
		}}

		{{> component/speech
				body="Problem Scenario"
				secondary=question
				scenario=true
		}}

		{{> component/speech
				decider=true
				body="Problem Scenario"
				secondary=question
		}}

		<div class="player-roles col-sm-6">

			<h3>Team's Roles</h3>
			{{#each playerMap}}
				{{username}}<br />{{title}}<p></p>
			{{/each}}

		</div>

	</div>

</div>