{{!-- PITCH PHASE UI --}}
<div id="pitch">

	{{!-- START --}}
	<div class="screen initial">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="This is the pitch phase! Everyone will take turns pitching their proposal while others listen and take notes."
		}}

		{{> component/speech
				body="This is the pitch phase! Everyone will take turns pitching their proposal while others listen and take notes."
		}}

	</div>

	{{!-- INSTRUCTIONS --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body=(combine 'Everyone will have ' config.pitchSeconds ' seconds to pitch. If you want more time, you can pay 50 coins and receive another 30 seconds.')
		}}

		{{> component/speech
				body=(combine 'Everyone will have ' config.pitchSeconds ' seconds to pitch. If you want more time, you can pay 50 coins and receive another 30 seconds.')
		}}

	</div>

	{{!-- INSTRUCTIONS part 2 --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="Your screen will show who is currently pitching, their stakeholder role, and which player is up next."
		}}

		{{> component/speech
				body="Your screen will show who is currently pitching, their stakeholder role, and which player is up next."
		}}

	</div>

	{{!-- COUNTDOWN START --}}
	{{!-- this is where phase re-starts for subsequent players --}}
	<div class="screen restart">

		{{> component/instructions
				decider=true 
				heading="Press the button to start the timer"
				body="Make sure the player pitching is ready and understands the instructions, then start the timer."
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="It’s your turn! Get ready to pitch!"
				body="Wait for the decider to start the timer. You'll have 60 seconds to pitch your proposal, with the ability to buy more time"
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the other player’s proposal"
				body="Take notes on other player’s proposals so you can better engage critically during deliberation!"
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				button=true
				decider=true
				body=(combine activePlayer.username ', it is your turn to pitch. are you ready?')
		}}

		{{> component/timer
				active_player=player.isActive 
				preview=true
				time=config.pitchSeconds
		}}

	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen">

		{{> component/instructions
				decider=true 
				heading="Wait for the timer to reach zero"
				body="When the timer reaches zero shout 'times up!'. and make sure they don’t keep pitching!"
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Pitch your proposal!"
				body="You’re on! Try to keep within the time limit, and stop speaking when time runs out."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the other player’s proposal"
				body="Take notes on other player’s proposals so you can better engage critically during deliberation!"
		}}

		{{!-- timers, one for decider and one for non-deciders --}}
		{{> component/timer 
				time=config.pitchSeconds
				decider=true
				next_player=repeatScreen
		}}

		{{> component/timer 
				time=config.pitchSeconds
		}}

		{{!-- choice box for buying more time --}}
		{{> component/choice 
				active_player=player.isActive
				all_players=true
		}}

	</div>

</div>