{{!-- PITCH PHASE UI --}}
<div id="pitch">

	{{!-- START --}}
	<div class="screen initial">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="Now that everyone has thought of their proposal, you will all take turns pitching your ideas to the group. Each player will have 60 seconds to pitch"
		}}

		{{> component/speech
				body="Now that everyone has thought of their proposal, you will all take turns pitching your ideas to the group. Each player will have 60 seconds to pitch"
		}}

	</div>

	{{!-- INSTRUCTIONS --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="Once your 60 seconds are up, you will see the option on your screen to pay 50 coins and receive another 30 seconds."
		}}

		{{> component/speech
				body="Once your 60 seconds are up, you will see the option on your screen to pay 50 coins and receive another 30 seconds."
		}}

	</div>

	{{!-- INSTRUCTIONS part 2 --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="I will let everyone know whose turn it is to pitch, and your screen will show who is currently pitching. When they are finished it will be the next player's turn."
		}}

		{{> component/speech
				body="I will let everyone know whose turn it is to pitch, and your screen will show who is currently pitching. When they are finished it will be the next player's turn."
		}}

	</div>

	{{!-- COUNTDOWN START --}}
	{{!-- this is where phase re-starts for subsequent players --}}
	<div class="screen restart">

		{{> component/instructions
				decider=true 
				heading="Announce whose turn it is"
				body="Make sure the player pitching is ready, then press the button to start the timer. "
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Get ready to pitch"
				body="Wait for the decider to start the timer. You'll have 60 seconds to pitch your proposal."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the other player’s proposal"
				body="Take notes on other player’s proposals so you can chime in during deliberation!"
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=config.pitchSeconds
				body=(combine activePlayer.username ', it is your turn to pitch. are you ready?')
		}}

		{{> component/timer 
				preview=true
				time=config.pitchSeconds
				body=(combine activePlayer.username ', you are up! Get ready to pitch!')
		}}

	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen">

		{{> component/instructions
				decider=true 
				heading="Wait for the timer to reach zero"
				body="When the timer reaches zero shout 'times up!' and make sure they don’t keep pitching!"
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Pitch your proposal"
				body="You’re on! Try to keep within the time limit, and stop speaking when time runs out."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the other player’s proposal"
				body="Take notes on other player’s proposals so you can chime in during deliberation!"
		}}

		{{!-- timers, one for decider and one for non-deciders --}}
		{{> component/timer 
				time=config.pitchSeconds
				decider=true
				next_player=repeatScreen
				body=activePlayer.username
				role=activePlayer.role.title
		}}

		{{> component/timer 
				time=config.pitchSeconds
				active_player=player.isActive
				body=activePlayer.username
				role=activePlayer.role.title
		}}

		{{!-- choice box for buying more time --}}
		{{> component/choice 
				active_player=player.isActive
				all_players=true
		}}

	</div>

</div>