{{!-- PITCH PHASE UI --}}
<div id="pitch">

	{{!-- START --}}
	<div class="screen initial">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the Decider"
				body="Get ready to pitch your proposal to the group!"
		}}

		{{> component/speech 
				decider=true
				body=(combine 'Now that everyone has come up with a proposal, you will all take turns pitching your ideas to the group. Each player will have ' config.pitchSeconds ' seconds to pitch')
		}}

		{{> component/speech
				body=(combine 'Now that everyone has come up with a proposal, you will all take turns pitching your ideas to the group. Each player will have ' config.pitchSeconds ' seconds to pitch')
		}}

	</div>

	{{!-- INSTRUCTIONS --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the Decider"
				body="Get ready to pitch your proposal to the group!"
		}}

		{{> component/speech 
				decider=true
				body=(combine 'Once your ' config.pitchSeconds ' seconds are up, you will see the option on your screen to pay ' config.extraTimeCost ' coins and receive another ' config.extraSeconds ' seconds.')
		}}

		{{> component/speech
				body=(combine 'Once your ' config.pitchSeconds ' seconds are up, you will see the option on your screen to pay ' config.extraTimeCost ' coins and receive another ' config.extraSeconds ' seconds.')
		}}

	</div>

	{{!-- INSTRUCTIONS part 2 --}}
	<div class="screen">
		
		{{> component/instructions
				decider=true 
				heading="Read the text in the blue box aloud"
				body="Once you finish speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions
				heading="Listen to the Decider"
				body="Get ready to pitch your proposal to the group!"
		}}

		{{> component/speech 
				decider=true
				body="I will let everyone know whose turn it is to pitch, and your screen will show who is currently pitching. When they are finished it will be the next player's turn."
		}}

		{{> component/speech
				body="I will let everyone know whose turn it is to pitch, and your screen will show who is currently pitching. When they are finished it will be the next player's turn."
		}}

	</div>

	{{!-- COUNTDOWN START --}}
	<div class="screen {{!-- restart --}}">

		{{> component/instructions
				decider=true 
				heading="Announce whose turn it is"
				body="Make sure the player pitching is ready, then press the button to start the timer."
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Get ready to pitch"
				body=(combine 'Wait for the Decider to start the timer. You\'ll have ' config.pitchSeconds 'seconds to pitch your proposal.')
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the pitching player’s proposal"
				body="Take notes on the pitching player’s proposal so you can chime in during deliberation!"
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=config.pitchSeconds
				stage='pitch'
				body=(combine activePlayer.username ', it is your turn to pitch. are you ready?')
				user=activePlayer.username
				role=activePlayer.role.title
		}}

		{{> component/timer 
				preview=true
				time=config.pitchSeconds
				stage='pitch'
				body=(combine activePlayer.username ', you are up! Get ready to pitch!')
				user=activePlayer.username
				role=activePlayer.role.title
		}}

	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen">

		{{> component/instructions
				decider=true 
				heading="Wait for the timer to reach zero"
				body="When the timer reaches zero say, “Time's up!” and make sure they don’t keep pitching!"
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Pitch your proposal"
				body="You’re on! Try to keep within the time limit, and stop speaking when time runs out."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen to the pitching player’s proposal"
				body="Take notes on the pitching player’s proposal so you can chime in during deliberation!"
		}}

		{{!-- timers, one for decider and one for non-deciders --}}
		{{> component/timer 
				time=config.pitchSeconds
				decider=true
				next_player=repeatScreen
				stage='pitch'
				body=question
				user=activePlayer.username
				role=activePlayer.role.title
		}}

		{{> component/timer 
				time=config.pitchSeconds
				active_player=player.isActive
				stage='pitch'
				body=question
				user=activePlayer.username
				role=activePlayer.role.title
		}}

		{{!-- choice box for buying more time --}}
		{{> component/choice 
				active_player=player.isActive
				all_players=true
		}}

	</div>

</div>