<h1>Roles for this round are...</h1>

{{#each this}}

	{{#if decider}}
		<div class="row"><b>Decider:</b> {{name}}</div>
	{{else}}
		<div class="row"><b>{{title}}:</b> {{name}}</div>
	{{/if}}

{{/each}}

{{!-- {{#if decider}} --}}
	<div class="form row" id="decider">
    <input id="btn-next" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
{{!-- {{/if}} --}}