<div class="screen initial">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="@stake is a deliberative democracy role playing game driven by real issues such as education, civic engagement, environmentalism, etc."
	}}

	{{> component/speech 
			body="@stake is a deliberative democracy role playing game driven by real issues such as education, civic engagement, environmentalism, etc."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each round reveals a specific question and asks players to pitch a potential solution or proposal that helps solve the problem."
	}}

	{{> component/speech 
			body="Each round reveals a specific question and asks players to pitch a potential solution or proposal that helps solve the problem."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each player is assigned a stakeholder role. Player's put themselves in the shoes of these characters and think of proposals from their perspective."
	}}

	{{> component/speech 
			body="Each player is assigned a stakeholder role. Player's put themselves in the shoes of these characters and think of proposals from their perspective."

	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Your goal is to pitch a proposal that integrates your stakeholder's hidden agenda items and best addresses the question."
	}}

	{{> component/speech 
			body="Your goal is to pitch a proposal that integrates your stakeholder's hidden agenda items and best addresses the question."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each round a proposal is selected by a player whose role is the decider. The decider moderates discussion and selects the best proposal as the winner of the round."
	}}

	{{> component/speech 
			body="Each round a proposal is selected by a player whose role is the decider. The decider moderates discussion and selects the best proposal as the winner of the round."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Stakeholders win all the coins in the pot if the decider selects their proposal, and any stakeholder whose agenda items are in that proposal recieve bonus coins."
	}}

	{{> component/speech 
			body="Stakeholders win all the coins in the pot if the decider selects their proposal, and any stakeholder whose agenda items are in that proposal recieve bonus coins."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Win bonus coins by having agenda items within the selected proposal. Even if the winning proposal is not your own!"
	}}

	{{> component/speech 
			body="Win bonus coins by having agenda items within the selected proposal. Even if the winning proposal is not your own!"
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="The goal of the game is to pitch the best proposal...as well as incorporating your hidden agenda items!"
	}}

	{{> component/speech 
			body="The goal of the game is to pitch the best proposal...as well as incorporating your hidden agenda items!"
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="There are 3 rounds in each game of @stake."
	}}

	{{> component/speech 
			body="There are 3 rounds in each game of @stake."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="At the start of the game, the first decider begins with 300 coins. And each stakeholder begins with 200 coins."
	}}

	{{> component/speech 
			body="At the start of the game, the first decider begins with 300 coins. And each stakeholder begins with 200 coins."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Every round starts with the 300 coins in the pot. More coins are added to the pot at different times throughout the round."
	}}

	{{> component/speech 
			body="Every round starts with the 300 coins in the pot. More coins are added to the pot at different times throughout the round."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Stakeholders win all the coins in the pot if the decider selects their proposal. And any stakeholder whose agenda items are in the winning proposal recieve bonus coins."
	}}

	{{> component/speech 
			body="Stakeholders win all the coins in the pot if the decider selects their proposal. And any stakeholder whose agenda items are in the winning proposal recieve bonus coins."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box out loud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="The player with the most coins at the end of 3 rounds is the winner!"
	}}

	{{> component/speech 
			body="The player with the most coins at the end of 3 rounds is the winner!"
	}}

</div>