<div class="row screen initial col-lg-12 col-sm-12">
	<div class="main-rule">Every round begins with 300 coins in the coin pot</div>
	<div class="secondary-rule">At the end of the round the decider chooses the best proposal. The winner becomes the next round’s decider.</div>
  <div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743645/at-stake/layout/pot_stroke.png"></div>
  <div class="form">
		<button class="next-step submit {{showHide this}}" data-event="{{nextEvent this}}">next</button>
	</div>
</div>

<div class="row screen col-lg-12 col-sm-12">
	<div class="main-rule">The total amount of coins in the pot is displayed at the bottom of your screen</div>
	<div class="secondary-rule">This is how many coins you can win if the decider chooses your proposal!</div>	  
	<div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743645/at-stake/layout/pot_stroke.png"></div>
	<div class="form">
		<button class="next-step submit {{showHide this}}" data-event="{{nextEvent this}}">next</button>
	</div>
</div>