<div class="screen initial">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="@stake is a deliberative democracy role playing game driven by real issues such as education, civic engagement, environmentalism, etc."
	}}

	{{> component/speech 
			body="@stake is a deliberative democracy role playing game driven by real issues such as education, civic engagement, environmentalism, etc."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each round reveals a specific question and asks players to pitch a potential solution or proposal that helps solve the problem."
	}}

	{{> component/speech 
			body="Each round reveals a specific question and asks players to pitch a potential solution or proposal that helps solve the problem."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each player is assigned a stakeholder role. Player's put themselves in the shoes of these characters and think of proposals from their perspective."
	}}

	{{> component/speech 
			body="Each player is assigned a stakeholder role. Player's put themselves in the shoes of these characters and think of proposals from their perspective."

	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Your goal is to pitch a proposal that integrates your stakeholder's hidden agenda items and best addresses the question."
	}}

	{{> component/speech 
			body="Your goal is to pitch a proposal that integrates your stakeholder's hidden agenda items and best addresses the question."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Each round a proposal is selected by a player whose role is the decider. The decider moderates discussion and selects the best proposal as the winner of the round."
	}}

	{{> component/speech 
			body="Each round a proposal is selected by a player whose role is the decider. The decider moderates discussion and selects the best proposal as the winner of the round."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Once a winner is selected, everyone's agenda items are revealed. The Decider then decides if they have been included in the winning proposal. "
	}}

	{{> component/speech 
			body="Once a winner is selected, everyone's agenda items are revealed. The Decider then decides if they have been included in the winning proposal. "
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="Stakeholders win all the coins in the pot if the Decider selects their proposal, and any stakeholder whose agenda items are in that proposal receive bonus coins."
	}}

	{{> component/speech 
			body="Stakeholders win all the coins in the pot if the Decider selects their proposal, and any stakeholder whose agenda items are in that proposal receive bonus coins."
	}}

</div>

<div class="screen">
		
	{{> component/instructions 
			decider=true
			heading="Read the text in the blue box aloud"
			body="Once you have finished speaking the instructions to other players, press next"
	}}

	{{> component/instructions 
			heading="Listen to the Decider"
			body="The Decider will read the tutorial text aloud to the group and advance to the next screen"
	}}

	{{> component/speech 
			decider=true
			body="The winner of the round becomes the Decider for the next round, and the player with the most coins at the end of three rounds wins!"
	}}

	{{> component/speech 
			body="The winner of the round becomes the Decider for the next round, and the player with the most coins at the end of three rounds wins!"
	}}

</div>
