<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		<h3>"At the end of round {{round_number}} the scores are:"</h3>

		<ul>
			{{#each players}}
				<li>{{username}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="form row {{!-- hidden-el --}}" id="decider">
    <input id="btn-next" data-event="game:next_round" class="post-button submit" type="submit" name="submit" value="next">
	</div>
</section>