<h1>The winner is...</h1>

[[Icon here]]
{{name}}!

<p>+?? coins</p>

{{!-- {{#if decider}} --}}
	<div class="form row" id="decider">
    <input id="btn-next" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
{{!-- {{/if}} --}}