@font-face {
  font-family: "Avenir";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_0_0.woff2") format("woff2"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_0_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_0_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_0_0.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirLight";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_1_0.woff2") format("woff2"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_1_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_1_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_1_0.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirBold";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_2_0.woff2") format("woff2"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_2_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_2_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/v1/emerging-citizens/fonts/315916_2_0.ttf") format("truetype"); }

.light {
  font-family: "AvenirLight"; }

.bold {
  font-family: "AvenirBold"; }

.form {
  min-height: 100%;
  color: black; }

@-webkit-keyframes invalid-field {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }

@-moz-keyframes invalid-field {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }

@-o-keyframes invalid-field {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }

@keyframes invalid-field {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }
  .form .button_text {
    min-width: 100px;
    min-height: 60px;
    font-size: 3em; }
  .form .invalid {
    -webkit-animation: invalid-field .5s 1;
    -moz-animation: invalid-field .5s 1;
    -o-animation: invalid-field .5s 1;
    animation: invalid-field .5s 1;
    box-shadow: 0 0 5px 1px red; }
  .form div {
    margin-left: auto;
    margin-right: auto; }
  .form input {
    padding: 20px;
    font-size: x-large;
    margin-bottom: 20px;
    position: relative;
    max-width: 100%;
    color: black; }
    .form input:focus {
      outline: none !important;
      border: 6px solid #00c5c2;
      box-shadow: 0 0 10px #719ECE; }
  .form.login input, .form.create input {
    width: 100%; }
  .form input[type=submit].default, .form button.default {
    color: #00c5c2;
    font-size: x-large;
    font-weight: bold;
    border: 0; }
  .form input[type=text] {
    border-radius: 50px; }
  .form.row button {
    min-height: 200px;
    min-width: 200px; }
  .form input.prompt {
    width: 100%;
    display: inline; }
  .form input.game_login {
    background-color: #febb2c; }
  .form .input-container {
    position: relative; }
  .form .input-container input {
    width: 100%;
    padding-left: 30px;
    margin-bottom: -20px; }
  .form .input-container .octothorp {
    position: absolute;
    display: block;
    top: 24px;
    color: gray;
    padding-left: 5px;
    width: 45px;
    font-size: x-large;
    vertical-align: middle; }
  .form button.mobile-login {
    background: white;
    margin-top: 10%;
    cursor: pointer; }
  .form .error {
    display: none;
    color: white;
    background-color: red;
    font-size: medium;
    min-height: 50px;
    padding: 10px;
    border: 0; }

.input [type=checkbox] {
  margin: 1px; }

.input-box {
  min-height: 400px;
  background-color: white;
  border: solid black 1px; }

.moderatorInput {
  margin: 10px auto;
  display: block;
  border: 1px solid #d7d6d6;
  background: #fff;
  padding: 10px 10px 10px 20px; }

#gameContent {
  background-color: #1EB4BB;
  height: 100%; }
  #gameContent.in-game {
    background-color: white; }
    #gameContent.in-game footer#bottom-bar {
      display: block; }
  #gameContent.lobby button#lobby-back {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px; }
  #gameContent:not(.lobby) button#lobby-back {
    display: none; }
  #gameContent.player-grid {
    background-color: white;
    color: black; }
    #gameContent.player-grid #logo-bar {
      display: block !important;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 50px;
      background-color: #fd2c76; }
      #gameContent.player-grid #logo-bar img {
        height: 45px;
        width: auto; }

.player-logo {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 15px;
  padding: 0px; }
  .player-logo .logo {
    height: 100%;
    width: 100%; }
  .player-logo #player-0 {
    background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743670/at-stake/yellow_avatar.png);
    background-size: contain; }
  .player-logo #player-1 {
    background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743596/at-stake/avatar_green.png);
    background-size: contain; }
  .player-logo #player-2 {
    background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743592/at-stake/avatar_pink.png);
    background-size: contain; }
  .player-logo #player-3 {
    background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743590/at-stake/avatar_red.png);
    background-size: contain; }
  .player-logo #player-4 {
    background: url(https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743594/at-stake/avatar_orange.png);
    background-size: contain; }

.form.decider, .form#decider, .form#decider-controls {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  max-height: 80px;
  margin: 0px; }
  .form.decider input, .form#decider input, .form#decider-controls input {
    width: 100%;
    left: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    background-color: #00D6B4; }
  .form {
    min-height: 0px; }

.room-container {
  bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  margin: 10px auto;
  background-color: white;
  color: black; }
  .room-container h1 {
    font-size: 6em; }
  section {
    height: 100%;
    width: 100%; }

#login-header img {
  height: 100%;
  width: 50%;
  padding: 10px; }

#login-header p {
  color: white;
  width: 80%;
  margin-left: 10%; }

input.post-button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #00D6B4;
  z-index: 1000; }

.submission .form {
  color: white; }

.submission #decks {
  width: 100%; }
  .submission #decks button {
    width: 100%;
    background-color: white;
    color: #1EB4BB;
    margin: 5px 0px;
    padding: 5px; }

.submission #btn_submit {
  color: white;
  background-color: #00D6B4;
  width: 100%; }

.submission #access-code {
  font-size: 4em; }

footer#bottom-bar {
  background-color: #00D6B4;
  font-size: large;
  width: 100%;
  bottom: 0px;
  position: absolute; }

.ended-container {
  background-color: white;
  margin: 0 auto; }

.winner {
  background-color: white; }

.role, .agenda_item {
  display: none; }

#decider, #decider-controls {
  display: none; }

.screen {
  display: none;
  float: none;
  margin: 0 auto; }

.read {
  background: #35AFD2;
  padding: 10px;
  color: white; }

.player-bio {
  height: 100%;
  width: 100%; }

#rules {
  height: 100%; }
  #rules .screen {
    display: none; }

@media (min-width: 1024px) {
  body .container {
    width: 100%; }
  body .gameLanding {
    margin-top: 15%; }
  body .player-background .icon {
    height: 163px; }
  body .player-background {
    margin: 0 auto;
    margin-bottom: 15%;
    width: 180px;
    height: 180px;
    border-radius: 90px; }
  body .player-background .icon img {
    width: 180px;
    height: 180px; }
  body .player-background .nameplate {
    font-size: x-large; }
  body #waiting {
    margin-top: 10%; }
  body .game-header.wait-players {
    font-size: 2em; } }

@media (min-width: 2000px) {
  body .game-header.wait-players {
    font-size: 2em; }
  body .page-container {
    margin-top: 10%; }
  body .player-background .icon {
    height: 200px; }
  body .player-background {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 220px;
    height: 220px;
    border-radius: 110px; }
  body .player-background .icon img {
    width: 220px;
    height: 220px; }
  body .player-background .nameplate {
    font-size: xx-large; }
  body .game-header {
    font-size: 6em; } }

html, body {
  max-height: 100%;
  height: 100%; }

#wrapper {
  height: 100%; }

.text.centered {
  text-align: center; }

.col-centered {
  float: none;
  margin: 0 auto; }

.hidden-el {
  visibility: hidden; }

.screen-title {
  font-size: 4em;
  color: white; }

.body {
  font-family: "Avenir";
  color: black; }

.body.game-bg {
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear; }

.body.login {
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-color: #00BBB5; }

.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1999;
  top: 0;
  left: 0; }
  .modal .tutorial {
    background-color: rgba(254, 120, 70, 0.7);
    width: 100%;
    height: 100%; }
    .modal .tutorial #countdown, .modal .tutorial #continue {
      position: fixed !important;
      bottom: 10%;
      right: 4%;
      width: 150px;
      cursor: pointer; }
      .modal .tutorial #countdown .icon, .modal .tutorial #continue .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
        margin-top: 22%; }
      .modal .tutorial #countdown .icon-arrow-right, .modal .tutorial #continue .icon-arrow-right {
        width: 0.8212890625em; }
      .modal .tutorial #countdown .text, .modal .tutorial #continue .text {
        font-size: 8em;
        top: 58% !important;
        color: #fff !important; }

@media (max-width: 480px) {
  .desktop-only {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none; } }

#logo_img {
  height: 50px;
  width: 50px;
  margin: 0 auto; }

nav.header.navbar-fixed-top {
  position: static; }
  @media (max-width: 480px) {
    nav.header.navbar-fixed-top {
      display: none; } }

nav.navbar.main {
  background-color: #FFF;
  padding-bottom: 2%; }
  nav.navbar.main #nav-logo {
    padding-top: 1%; }
  nav.navbar.main #login {
    color: #FD7D4B; }
  nav.navbar.main #help {
    color: #FECD40; }
  nav.navbar.main #about {
    color: #20C5C1; }

nav.notfixed {
  position: absolute !important; }

nav.header {
  background-color: white;
  padding-bottom: 1%; }

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1; }

.footer {
  color: #FFF;
  font-size: medium;
  background-color: #ff9971; }
  @media (max-width: 480px) {
    .footer {
      display: none; } }

#debugging {
  z-index: 1000; }

.gameLanding {
  margin-top: 10%;
  margin-bottom: 3%; }
  @media only screen and (min-width: 769px) {
    .gameLanding #desktop {
      display: block; }
    .gameLanding #mobile {
      display: none; } }
  @media (max-width: 480px) {
    .gameLanding #desktop {
      display: none; }
    .gameLanding #mobile {
      display: block; } }

#gameContent {
  padding: 40px 15px;
  padding-top: 3%;
  text-align: center; }
