{{!-- 

* COMPONENT: Interstitial screen 
* @param {Number} phase
* @param {String} title
--}}
<section id="interstitial">

    {{{cloudinaryUrl 'v1540488090/at-stake/bg/interstitial' width='425' format='png'}}}

    <h2>Phase {{phase}}</h2>
    <h1>{{title}}</h1>

</section>