{{!-- 

* COMPONENT: Timer 
* @param {Bool} button - Just show timer 'start' button?
* @param {Bool} next_player - Button shown when timer done advances to next player's turn?
* @param {Bool} advance - Button shown when timer done advances to next phase? (ignored if 'next_player' is true)
* @param {Bool} active_player - Show this speech only for active player?
* @param {Bool} inactive_player - Show this speech only for inactive player?
* @param {String} body - Speech bubble body text for when 'button' is true

--}}
    
{{!-- SPEECH W/ BUTTON TO START --}}
{{#ifeq preview true}} 
    
  {{!-- CIRCULAR TIMER --}}
  <div class="timer_wrap {{#ifeq decider true}}decider form{{else}}player{{/ifeq}}">

      <button id="btn-next" class="submit" data-event="game:start_timer">

        <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-47 a 47,47 0 1 1 0,94 a 47,47 0 1 1 0,-94" stroke="rbga(235, 235, 235, 0.5)" stroke-width="0.8" fill-opacity="0"></path><path d="M 50,50 m 0,-47 a 47,47 0 1 1 0,94 a 47,47 0 1 1 0,-94" stroke="#fff" stroke-width="6" fill="#ff3d6b" style="stroke-dasharray: 295.416, 301.416;stroke-dashoffset: 0;"></path></svg>
        <div class="progressbar-text preview">{{time}}</div>

        <div class="decider speech">
        
          <h1>Start Timer</h1>

          <span id="modifier" class="hidden-el" data-hide_next="false"></span>
        </div>

      </button>
    </div>

{{else}}
  
  {{!-- CIRCULAR TIMER --}}
  <div class="timer_wrap {{#ifeq decider true}}decider{{else}}player{{/ifeq}}">

        <div class="timer"></div>

  </div>

{{/ifeq}}