<section id="lobby">

  <div id="login-header">
    {{{cloudinaryUrl "v1488383913/at-stake/layout/logo_lg.png" width=287 color="#ffd461" effect="colorize:100"}}}
    <p>Deliberate. Negotiate. Decide. </p>
  </div>

  {{!-- NAME ENTRY --}}
  <div class="lobby" id="name" class="col-sm-12">
    <div class="form col-xs-12 col-centered">

      <input type="text" id="player-name" placeholder="Type your name and hit next to begin" class="hidden-el"> <br />
      
      <div class="error">Error!</div>
      <input id="btn_submit_name" data-package='{"name": "#player-name"}' class="btn btn-default submit_name hidden-el" type="submit" name="submit" value="Next!">
    </div>
    <div class="login-footer">
      <section id="description">
        <p>@Stake promotes empathy and creativity among diverse perspectives in a fast-paced role-playing game. We created it to help facilitate productive and fair conversations in classrooms, conferences, strategic planning meetings, and public events. You'll get a change to dream up solutiond to real-world issues facing communities from a variety of stakeholder perspectives!</p>
      </section>
      <img > 
    </div>
  </div>

  {{!-- PLAYER CHOICES--}}
  <div class="lobby" id="choices" class="col-sm-12" style="display:none">

    <div class="username">
      <h2>HEY <span id="username"></span>!</h2>
      <p>Welcome to @Stake!</p>
    </div>
    <div class="form login col-xs-12 col-centered">

      <div id="btn_new_game" class="btn btn-default">
        <h2>Start New Game</h2>
      </div>
      <p class="btn_cap">Select a deck and receive a 4 digit room code that other players can use to join your game</p>

      <div id="btn_join_game" class="btn btn-default">
        <h2>Join a Game</h2>
      </div>
      <p class="btn_cap">use your 4 digit room code to join a game</p>

    </div>

    <button class="back-button" data-from="choices" data-to="name">back</button>
  </div>

  {{!-- JOIN GAME --}}
  <div class="lobby form" id="join" style="display:none">

    <div class="login input">
      <input type="text" id="access_code" placeholder="Type your room code here" maxlength="4"> <br />
      <p class="light">Type in your game's access code and hit the play button to begin!</p>
      <div class="error">Error!</div>

      <button class="back-button" data-from="join" data-to="choices">back</button>
      <input id="btn_submit_code"  data-event="game:entry" data-package='{"code": "#access_code", "name": "#player-name"}' class="btn btn-default game_login" type="submit" name="submit" value="login">
    </div>

    <div class="row login waiting" style="display:none">
      <h3>Waiting for players</h3>
      <div class="row" id="players">
      </div>
    </div>
  </div>

  {{!-- NEW GAME --}}
  <div class="lobby" id="decider" style="display:none">
    <div class="form create col-sm-12 col-lg-12 col-centered" id="deck-choice">

      <h3 class="white header">Select a Deck</h3>
      <div class="form-prompt white">Your deck will determine what problems you solve and what roles you get to play.</div>
      
      <section id="decks" class="glide">

      </section>
      
      <div class="error">Error!</div>
      <button class="back-button" data-from="new" data-to="choices">back</button>
      <input id="btn_submit" class="button_text game_login" type="submit" name="submit" value="next">
    </div>

    <div class="waiting" style="display:none" id="share-code">
      <input type="text" id="player-name" class="hidden-el"> <br />

      <div id="share_code"> 
        <h1>Share Your Room Code</h1>
        <h1 class="access-code"></h1>
        <p>Share this 4 digit code with players. Once at least 3 players have joined, press the start button to play</p>
      </div>

      <div class="col-sm-12 player-grid">
        <div class="row" id="deck">
          <h1 id="name"></h1>
          <span id="description"></span>
        </div>
        <div class="row" id="players">
        </div>
      </div>

      <div class="form row" id="start">
        <input id="btn-start-game" data-event="game:start" class="{{!-- post-button  --}}submit" type="submit" name="submit" value="play!">
        <button class="back-button" data-from="share-code" data-to="deck-choice">back</button>
      </div>
    </div>
  </div>

</section>