{{!-- NAME ENTRY --}}
<div class="lobby" id="login" class="col-sm-12">
  <div class="form login col-xs-12 col-centered">
    <div id="login-header">
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/e_grayscale/v1454520474/site/listings/odr1jt3rfkda0s1qce9q.png">
      <p>A Game for Deliberative Democracy</p>
    </div>
    {{!-- <input type="text" id="access_code" placeholder="room code"> <br /> --}}
    <input type="text" id="player_name" placeholder="Type your name here"> <br />
    <div class="error">Error!</div>
    <input id="btn_submit_name" class="btn btn-default game_login" type="submit" name="submit" value="play">
    {{!-- <input id="btn_new_game" class="btn btn-default" type="submit" name="submit" value="new game"> --}}
    <section id="description">
    <p>@Stake was created to help facilitate productive and fair conversations in classrooms, conferences, strategic board meetings, and public events. By playing @Stake, participants learn that productive conversations thrive off of authentic listening and multiple perspectives. All you need to get started is 3-5 players.</p>
    </section>

  </div>
  <div class="row login waiting" style="display:none">
    <h1 id="game-code">{{game.accessCode}}</h1>
    <h3>Waiting for players</h3>
    <div class="col-sm-3"></div>
    <div class="row col-sm-9" id="players">
      
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

{{!-- NEW GAME --}}
<div class="lobby" id="decider" style="display:none">
  <div class="submission">
    <div class="form create col-lg-6 col-centered">
      <div class="form-prompt white">access code:</div>
      <div class="access-code"></div>
      <div class="form-prompt white">enter username:</div>
      <input type="text" id="player-name" placeholder="name"> <br />
      <div class="form-prompt white">select the deck to use:</div>
      <div id="decks">
      </div>
      
      <div class="error">Error!</div>
      <input id="btn_submit" class="button_text" type="submit" name="submit" value="Start!">
    </div>
  </div>
  <div class="row waiting" style="display:none">
    <h1 class="access-code"></h1>
    <p>You are the decider</p>
    <p>Waiting for players</p>

    <div class="col-sm-12">
      <div class="row" id="players">
      </div>
    </div>
    <div class="form row" id="start">
      <input id="btn-start-game" data-event="game:start" class="post-button submit" type="submit" name="submit" value="start">

    </div>
  </div>
</div>