<section id="lobby">

  <div id="login-header">
    {{{cloudinaryUrl "v1490382079/at-stake/s-t-a-k-e-l-o-g-o_3x.png" width=300 }}}
  </div>

  {{!-- NAME ENTRY --}}
  <div class="lobby" id="name" class="col-sm-12">
    <div class="form col-xs-12 col-centered">

      <input type="text" id="player-name" maxlength="10" placeholder="Type your name and hit next to begin" class="hidden-el"> <br />
      
      <div class="error">Error!</div>
      <input id="btn_submit_name" data-package='{"name": "#player-name"}' maxlength="10" class="btn btn-default submit_name hidden-el" type="submit" name="submit" value="Next!">
    </div>
    <div class="login-footer">
      <section id="description">
        <p>@Stake promotes empathy and creativity among diverse perspectives in a fast-paced role-playing game. We created it to help facilitate productive and fair conversations in classrooms, conferences, strategic planning meetings, and public events. You'll get a change to dream up solutiond to real-world issues facing communities from a variety of stakeholder perspectives!</p>
      </section>
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1490382407/at-stake/e-l-logo_3x.png" height='auto' width='200px'> 
    </div>
  </div>

  {{!-- PLAYER CHOICES--}}
  <div class="lobby" id="choices" class="col-sm-12" style="display:none">

    <div class="username">
      <h2>Hey, <span id="username"></span>!</h2>
      <p>welcome to @Stake!</p>
    </div>
    <div class="form login col-xs-12 col-centered">

      <div id="btn_new_game" class="btn btn-default">
        <h2>Start new game</h2>
      <div class="btn_cap">Select a deck and receive a 4 digit room code that other players can use to join your game</div>
      </div>

      <div id="btn_join_game" class="btn btn-default" data-from="choices" data-to="join">
        <h2>Join a game</h2>
      <div class="btn_cap">use your 4 digit room code to join a game</div>
      </div>

    </div>

    <button class="back-button" data-from="choices" data-to="name">back</button>
  </div>

  {{!-- NEW GAME --}}
  <div class="lobby" id="decider" style="display:none">
    <div class="form create col-sm-12 col-lg-12 col-centered" id="deck-choice">

      <h3 class="white">Select a Deck</h3>
      <div class="form-prompt">Your deck will determine what problems you solve and what roles you get to play.</div>
      
      <div class="decks-prompt">Use arrow keys or swipe left and right to switch decks</div>
      <section id="decks" class="glide">

      </section>
      
      <div class="error">Error!</div>
      <button class="back-button" data-from="new" data-to="choices">back</button>
      <input id="btn_submit" class="button_text game_login" type="submit" name="submit" value="next">
    </div>

    <div class="waiting" style="display:none">
      <input type="text" id="player-name" class="hidden-el"> <br />

      <div id="share_code"> 
        <h1>Share Your Room Code</h1>
        <h1 class="access-code"></h1>
        <p>Share this 4 digit code with players. Once at least 3 players have joined, press play to begin</p>
      </div>

      <div class="col-sm-12 player-grid">
        <div class="row" id="deck">
          <h1 id="name"></h1>
          <span id="description"></span>
        </div>
        <div class="row list">
        </div>
      </div>

      <div class="form row" id="start">
        {{!-- <input data-event="game:start" class="post-button" type="submit" name="submit" value="play!"> --}}
        <button id="btn-start-game" data-from="lobby" data-to="tutorial">play!</button>
        <button class="back-button" data-from="share-code" data-to="deck-choice">back</button>
      </div>
    </div>

    {{!-- Tutorial selection --}}
    <div id="tutorial" class="col-sm-12" style="display:none">

      <div class="col-xs-12 col-centered  form">

        <div id="btn-tutorial" data-event="game:start" data-package='{"tutorial": "true"}' class="btn btn-default submit">
          <h2>Play Tutorial</h2>
        </div>
        <div id="btn-tutorial-skip" data-event="game:start" data-package='{"tutorial": "false"}' class="btn btn-default submit">
          <h2>Or tap <strong>here</strong> to skip</h2>
        </div>
        <div class="btn_cap">The tutorial will show you how @Stake works, how to play, and how to win!  </div>

      </div>

      <button class="back-button" data-from="choices" data-to="name">back</button>
    </div>

  </div>

  {{!-- JOIN GAME --}}
  <div class="lobby form" id="join" style="display:none">

    <div class="login input">
      <input type="text" id="access_code" placeholder="Type your room code here" maxlength="4"> <br />
      <p class="light instructions">...then <span>press the join game</span> button to begin!</p>
      <div class="error">Error!</div>

      <button class="back-button" data-from="join" data-to="choices">back</button>
      <input id="btn_submit_code"  data-event="game:entry" data-package='{"code": "#access_code", "name": "#player-name"}' class="btn btn-default game_login" type="submit" name="submit" value="Join game">
    </div>

    <div class="row login waiting" style="display:none">
      <div id="game_code"> 
        <h1>Share Your Room Code</h1>
        <h1 class="access-code"></h1>
        <p class="instructions">Share the 4 digit code with other players so they can join the game.</p>
      </div>
      <div class="player-grid">
        <div class="row list">
        </div>
      </div>
    </div>
  </div>

</section>